<div class="ui breadcrumb">
    <a class="section" href="{{ path('app_forum_index') }}">{{ 'menu.forum'|trans }}</a>
    {% if breadcrumb|length %}
        <i class="right angle icon divider"></i>
    {% endif %}
    {% for element in breadcrumb %}
        <a class="section" href="{{ element.url }}">
            {{ element.title }}
        </a>

        {% if not loop.last %}
            <i class="right angle icon divider"></i>
        {% endif %}
    {% endfor %}
</div>
