{% set right_list     = get_rights_hierarchy() %}
{% set checked_rights = item.rights(true).toArray %}

<table class="ui persmission table">
    <thead>
    <tr>
        <th>{{ 'droit_acces.label'|trans }}</th>
        {% for role, value in right_list|first %}
            <th>{{ role|trans }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for right, roles in right_list %}
        <tr>
            <td>{{ right }}</td>
            {% for role, value in roles %}
                <td class="field">
                    <div class="ui slider checkbox">
                        <input
                                type="checkbox"
                                value="1"
                                name="right_{{ role }}_{{ right }}"
                                {{ checked_rights[role][right] is defined and checked_rights[role][right] == true
                                   or
                                   checked_rights[role][right] is not defined and value == true ?
                                "checked" : "" }}
                        >
                        <label>&nbsp;</label>
                    </div>
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>