<div class="user-widget ui sticky">
    <div class="header">
        <i class="ui wait icon"></i>
        Activité récente
    </div>
    <div class="ui items topic-activity-list">
        <div class="header">{{ 'new_topic.announce'|trans }}</div>
        {% for topic in topics %}
            <a class="item" href="{{ path('app_forum_topic', {id: topic.id, slug: topic.slug}) }}">
                <span class="name">{{ topic.title }}</span>
                <span class="aging">{{ 'app.aging'|trans({'%date%': topic.creationDate|aging()}) }}</span>
            </a>
        {% else %}
            <a class="item">No topic</a>
        {% endfor %}
    </div>
    <div class="ui items message-activity-list">
        <div class="header">{{ 'new_message.announce'|trans }}</div>
        {% for message in messages %}
            <a class="item" href="{{ path('app_forum_topic', {id: message.fkTopic.id, slug: message.fkTopic.slug}) }}">
                <span class="name">{{ message.fkTopic.title }}</span>
                <span class="aging">{{ 'app.aging'|trans({'%date%': message.creationDate|aging()}) }}</span>
            </a>
        {% else %}
            <a class="item">No topic</a>
        {% endfor %}
    </div>
</div>