{% extends 'template/base_tpl.html.twig' %}

{% block body %}
    {% include 'user/conversation/sidebar.html.twig' %}

    <div class="thirteen wide column">
        {{ form_start(form) }}

        {{ form_row(form.title) }}

        {{ form_row(form.user_search) }}
        <div class="js-search-user-list">

        </div>
        <div class="js-user-list conversation user list">
            <div class="field">
                <label>{{ 'conversation.destinataires.label'|trans }}</label>
            </div>
            {% if form.users.vars['value']|length %}
                {% for user_id in form.users.vars['value'] %}
                    <div class="js-found-user ui secondary button found user">
                        <img class="avatar" alt="{{ users_conversation[user_id].publicName }}" src="{{ users_conversation[user_id].avatar }}" /><span>{{ users_conversation[user_id].publicName }}</span>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {{ form_widget(form.users) }}

        {{ form_row(form.message) }}

        <button>{{ 'conversation.send.submit'|trans }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}