{% extends 'template/base_tpl.html.twig' %}

{% block body %}
    {% include 'user/conversation/sidebar.html.twig' %}

    <div class="thirteen wide column">
        <select name="bulk_action" class="ui dropdown">
            <option value="set_unread">{{ 'conversations.action.setUnread'|trans }}</option>
            <option value="set_read">{{ 'conversations.action.setRead'|trans }}</option>
            <option value="delete">{{ 'conversations.action.delete'|trans }}</option>
        </select>
        <button class="ui primary button">{{ 'conversation.action.submit'|trans }}</button>
        <table class="ui celled conversations table">
            <thead>
            <tr>
                <th class="center aligned">
                    <div class="ui checkbox">
                        <input type="checkbox" name="bulk_action_checkbox" class="hidden js-bulk-action-all">
                        <label></label>
                    </div>
                </th>
                <th class="icon column">{{ 'conversations.header.status'|trans }}</th>
                <th>{{ 'conversations.header.participants'|trans }}</th>
                <th>{{ 'conversations.header.title'|trans }}</th>
                <th>{{ 'conversations.header.date'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for conversation in conversations %}
                <tr>
                    <td class="center aligned">
                        <div class="ui checkbox">
                            <input type="checkbox" name="bulk_action_checkbox" class="hidden js-bulk-action">
                            <label></label>
                        </div>
                        </td>
                    <td class="center aligned">{% if conversation.new(app.user) %}<i class="big mail icon"></i>{% endif %}</td>
                    <td class="participants">
                        {% for conversationUser in conversation.privateConversationUsers %}
                            {% if conversationUser.fkUser != app.user %}
                                <img src="{{ conversationUser.fkUser.avatar }}" title="{{ conversationUser.fkUser.publicName }}">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ conversation.title }}</td>
                    <td>{{ conversation.modificationDate|strftime("d MMMM YYYY 'a' HH:mm") }}</td>
                    <td>
                        <a class="ui primary button"
                           href="{{ path('app_utilisateur_userconversation', {
                               nickname: app.user.nickname,
                               privateConversation: conversation.id
                           }) }}"
                        >{{ 'conversation.read.label'|trans }}</a>
                        <a class="ui primary button"
                           href="{{ path('app_utilisateur_deleteconversation', {
                               nickname: app.user.nickname,
                               privateConversation: conversation.id
                           }) }}"
                        >{{ 'conversation.delete.label'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

