<div class="three wide column">
    <nav class="ui conversation vertical menu ui sticky">
        <h3 class="header">
            <i class="mail icon"></i>
            {{ 'conversations.title'|trans }}
        </h3>
        <div class="menu">
            <a class="item" href="{{ path('app_utilisateur_userconversations', {nickname: app.user.nickname}) }}">
                <i class="inbox icon"></i>{{ 'conversation.list.label'|trans }}
            </a>
            <a class="item" href="{{ path('app_utilisateur_usercontact', {nickname: app.user.nickname}) }}">
                <i class="pencil icon"></i>{{ 'conversation.new.label'|trans }}
            </a>
        </div>
    </nav>
</div>