{% extends 'template/base_tpl.html.twig' %}

{% block body %}
    {% include 'user/conversation/sidebar.html.twig' %}

    <div class="thirteen wide column">
        <h3>{{ conversation.title }}</h3>

        {% for message in conversation.messages %}
            <div>
                {{ message.message|raw }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

