{% extends 'template/base_tpl.html.twig' %}

{% block body %}
    <div class="column">
        <div class="row">
            <h1 class="ui header">{{ 'section.form.create.title'|trans }}</h1>
        </div>

        <div class="row">
            {{ form_start(form) }}

            {{ form_row(form.title) }}

            {{ form_row(form.excerpt) }}

            <div class="hidden">
                {{ form_widget(form.rank, {'attr': {'class': 'js-section-rank-input'}}) }}
            </div>
            {% if sections|length > 0 %}
                <div class="grouped fields js-section-rank">
                    <label for="sibling">{{ 'section.form.rank.label'|trans }} :</label>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input name="sibling" {{ section is null ? 'checked=""' : '' }} tabindex="0" class="hidden" type="radio" value="0">
                            <label>{{ 'section.form.rank.start'|trans }}</label>
                        </div>
                    </div>
                    {% if section is not null %}
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input name="sibling" checked="" tabindex="1" class="hidden" type="radio" value="{{ section.rank }}">
                                <label>{{ 'section.form.rank.do_not_move'|trans }}</label>
                            </div>
                        </div>
                    {% endif %}
                    <label for="sibling">{{ 'section.form.rank.after'|trans }} :</label>
                    {% for sibling_section in sections %}
                        {% if (section is not null and sibling_section.id != section.id) %}
                            <div class="field{{ sibling_section.archived ? ' hidden' : '' }}">
                                <div class="ui radio checkbox">
                                    <input name="sibling" tabindex="{{ loop.index + 1 }}" class="hidden" type="radio" value="{{ sibling_section.rank + 1 }}">
                                    <label>{{ sibling_section.title }}</label>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            {% if is_granted('ROLE_MODERATOR') %}
                <div class="field">
                    <label>{{ 'access.label'|trans }}</label>
                </div>

                {% include 'forum/forum_permissions.html.twig' with {item: section} %}
            {% endif %}

            <button class="ui primary button">{{ 'form.action.submit'|trans }}</button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}