{% extends 'template/base_tpl.html.twig' %}

{% block body %}
    <div class="row">
        <div class="column">
            <h1 class="ui header">{{ 'discutions.title'|trans }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="column">
            {{ render(url('app_section_breadcrumb', {'id': (sectionParent is not null ? sectionParent.id : null)})) }}
        </div>
    </div>

    {% if section is defined and is_accredited('moderate', section) or section is not defined and is_granted('ROLE_MODERATOR') %}
        <div class="row">
            <div class="column">
                <div class="ui checkbox">
                    <input name="show-archived" class="js-toggle-archives" type="checkbox">
                    <label>{{ 'section.show_archived'|trans }}</label>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="column">
            {% if is_granted('ROLE_ADMIN') or sectionParent is not null and is_accredited('moderate', sectionParent) %}
                <a href="{{ path('app_forum_section_create', {'id': (sectionParent is not null ? sectionParent.id : null), 'slug': (sectionParent is not null ? sectionParent.slug : null)}) }}" class="ui primary button">{{ 'discutions.create_section.label'|trans }}</a>
            {% endif %}

            {% if sectionParent is not null and is_granted('ROLE_MEMBER') %}
                <a href="{{ path('app_forum_topic_create', {'id': sectionParent.id, 'slug': sectionParent.slug}) }}" class="ui primary button">{{ 'discutions.create_topic.label'|trans }}</a>
            {% endif %}
            <div class="ui divided items section-list">
                {% for section in sections %}
                    {% if is_accredited('moderate', section) %}
                        <div class="moderation options{{ section.archived ? ' archived element' : '' }}">
                            <a class="js-toggle-permissions" data-id="section-{{ section.id }}" title="{{ 'rights.label'|trans }}"><i class="big configure icon">&nbsp;</i></a>
                        </div>
                    {% endif %}
                    <a class="{{ section.archived ? 'archived element ' : '' }}item" href="{{ path('app_forum_section', {id: section.id, slug: section.slug}) }}">
                        <div class="content">
                            <div class="image">
                                <i class="huge folder icon"></i>
                            </div>

                            <div class="header title{{ section.excerpt|length ? ' multiline' : ''}}">
                                {% if section.archived %}
                                    <i class="large archive icon"></i>
                                {% endif %}

                                {{ section.title }}

                                <div class="description">
                                    {{ section.excerpt }}
                                </div>
                            </div>

                            <div class="metadata">
                                <div class="item section activity">
                                    <i class="wait icon"></i>
                                    <p>
                                        {% if section.lastActivityDate is not null %}
                                            {{ section.lastActivityDate|date('d M Y à H:i') }}
                                        {% else %}
                                            <i class="minus icon"></i>
                                        {% endif %}
                                    </p>
                                </div>

                                <div class="item section nb-topics">
                                    <i class="comments icon"></i>
                                    <p>
                                        {{ 'section.nb_topics'|transchoice(section.topics|length) }}
                                    </p>
                                </div>

                            </div>
                        </div>
                    </a>
                    {% if is_accredited('moderate', section) %}
                        <div id="section-{{ section.id }}" class="js-permissions-panel permission panel">
                            <div class="ui two item menu">
                                {% if section.archived %}
                                    <a class="item action"
                                       href="{{ path('app_forum_section_restore', {'id': section.id}) }}"
                                       title="{{ 'restore.label'|trans }}"
                                    >
                                        <i class="large undo icon">&nbsp;</i>
                                    </a>
                                {% else %}
                                    <a class="item action"
                                       href="{{ path('app_forum_section_update', {'id': section.id, 'slug': section.slug}) }}"
                                       title="{{ 'update.label'|trans }}"
                                    >
                                        <i class="large write icon">&nbsp;</i>
                                    </a>
                                {% endif %}
                                <a class="item action"
                                   href="{{ path('app_forum_section_archive', {'id': section.id}) }}"
                                   title="{{ section.archived ? 'delete.label'|trans : 'archive.label'|trans }}"
                                >
                                    <i class="large archive icon">&nbsp;</i>
                                </a>
                            </div>

                            {% if not section.archived %}
                                <form class="ui form" name="form_section_permissions" method="POST" action="{{ path('app_forum_update_permissions') }}">
                                    <input type="hidden" name="object_type" value="section">
                                    <input type="hidden" name="object_id" value="{{ section.id }}">

                                    {% include 'forum/forum_permissions.html.twig' with {item: section} %}

                                    <button class="ui primary button">{{ 'action.submit_save'|trans }}</button>
                                </form>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}

            </div>

            <div class="ui divided items topic-list">
                {% include 'forum/topic/list.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}