{% extends 'template/base_tpl.html.twig' %}

{% block body %}
    <div class="column">
        <h2>{{ 'http_error_404.title'|trans }}</h2>

        <p>
            {{ 'http_error_404.content'|trans|raw }}
        </p>
    </div>
{% endblock %}