{% extends 'template/base_email_tpl.html.twig' %}

{% set event_year  = event.startDate|date('Y') %}
{% set event_month = event.startDate|date('m') %}
{% set event_day   = event.startDate|date('d') %}
{% set event_hour  = event.startDate|date('h')|intval %}

{% block body %}
    <h3 class="center aligned">Nouvel article sur le site !</h3>

    <p>
        Bonjour {{ user.publicName }},
    </p>

    <p>
        Un nouvel article a été publié.
    </p>

    <p>
        Cliquez sur le lien ci-dessous pour y accéder et réagir.
    </p>

    <p class="center aligned">
        <a class="ui primary button" href="{{ url('app_article_read', {article: article.id}) }}">En savoir plus</a>
    </p>
{% endblock %}