{% extends 'template/base_email_tpl.txt.twig' %}

{% block body %}
     Nouvel article sur le site !

    Bonjour {{ user.publicName }},

    Un nouvel article à été publié.

    Cliquez sur le lien ci-dessous pour y accéder et réagir.

    {{ url('app_article_read', {article: article.id}) }}
{% endblock %}