{% extends 'template/base_email_tpl.html.twig' %}

{% set event_year  = event.startDate|date('Y') %}
{% set event_month = event.startDate|date('m') %}
{% set event_day   = event.startDate|date('d') %}
{% set event_hour  = event.startDate|date('h')|intval %}

{% block body %}
    <h3 class="center aligned">Nouvel évènement à la Taverne !</h3>

    <p>
        Bonjour {{ user.publicName }},
    </p>

    <p>
        Un nouvel évènement à été créé pour le {{ event.startDate|strftime("cccc d MMMM") }}.
    </p>

    <p>
        Cliquez sur le lien ci-dessous pour y accéder et nous dire si vous souhaitez y participer.
    </p>

    <p class="center aligned">
        <a class="ui primary button" href="{{ url('app_calendar_day', {year: event_year, month: event_month, day: event_day}) }}">En savoir plus</a>
    </p>
{% endblock %}