{% extends 'template/base_email_tpl.txt.twig' %}

{% set event_year  = event.startDate|date('Y') %}
{% set event_month = event.startDate|date('m') %}
{% set event_day   = event.startDate|date('d') %}
{% set event_hour  = event.startDate|date('h')|intval %}

{% block body %}
     Nouvel évènement à la Taverne !

    Bonjour {{ user.publicName }},

    Un nouvel évènement à été créé pour le {{ event.startDate|strftime("cccc d MMMM") }}.

    Cliquez sur le lien ci-dessous pour y accéder et nous dire si vous souhaitez y participer.

    {{ url('app_calendar_day', {year: event_year, month: event_month, day: event_day}) }}
{% endblock %}