{% extends 'template/base_email_tpl.html.twig' %}

{% block body %}
    <h3 class="center aligned">Merci de vous être inscrit, {{ user.publicName }} !</h3>

    <p>
        Cliquez sur le lien ci-dessous pour valider votre adresse email :
    </p>

    <p class="center aligned">
        <a class="ui primary button" href="{{ url('user_email_validation', {user: user.id, token: user.accountValidationCode}) }}">Je valide !</a>
    </p>
{% endblock %}