{% extends 'template/base_email_tpl.html.twig' %}

{% block body %}
    <p>
        {{ 'mail.passwordrequest.body'|trans }}
    </p>

    <p class="center aligned">
        <a class="ui primary button" href="{{ url('user_change_password', {'token': user.recoverPasswordCode()}) }}">{{ 'mail.passwordrequest.submit'|trans }}</a>
    </p>
{% endblock %}