{% extends 'template/base_email_tpl.txt.twig' %}

{% block body %}
    {{ 'mail.passwordrequest.body'|trans }}

    {{ 'mail.passwordrequest.submit'|trans }} : {{ url('user_change_password', {'token': user.recoverPasswordCode()}) }}
{% endblock %}