{% extends 'template/base_tpl.html.twig' %}

{% block body %}
    <div class="sixteen wide column">
        {% if news_list is defined %}
            <table class="ui celled table admin-table-list">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ 'news_list.header.title'|trans }}</th>
                        <th>{{ 'news_list.header.creation_date'|trans }}</th>
                        <th>{{ 'news_list.header.status'|trans }}</th>
                        <th>{{ 'news_list.header.actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for news in news_list %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ news.title }}</td>
                            <td>{{ news.creationDate|date('d/m/Y H:i') }}</td>
                            <td>{{ news.status(true)|trans }}</td>
                            <td>
                                <div class="ui icon buttons">
                                    <a href="{{ path('app_article_read', {"article": news.id}) }}" target="_blank" class="ui button"><i class="eye icon"></i></a>
                                    <a href="{{ path('app_article_create', {"news_id": news.id}) }}" class="ui button"><i class="edit icon"></i></a>
                                    <a href="{{ path('app_article_archive', {"news": news.id}) }}" class="ui button"><i class="archive icon"></i></a>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <p>{{ 'news.list.no_result'|trans }}</p>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}