{% extends 'template/base_tpl.html.twig' %}

{% block body %}
    <div class="column">
        <h2>{{ 'survey.label.create'|trans }}</h2>

        {{ form_start(form, {
            attr: {
                class: 'js-survey-form survey-form'
            }
        }) }}

        {{ form_errors(form) }}

        {{ form_row(form.name) }}

        {{ form_row(form.closureDate) }}

        {{ form_row(form.questions) }}

        <button class="ui primary button">Envoyer</button>

        {{ form_end(form) }}
    </div>
{% endblock %}

