{% extends 'template/base_tpl.html.twig' %}

{% block body %}
    <div class="ui grid">
        <h3 class="ui header">{{ 'survey.list'|trans }}</h3>

        <table class="ui very basic collapsing celled table">
            <tbody>
            {% for survey in surveys %}
                <tr>
                    <td>
                        {{ survey.name }}
                    </td>
                    <td>
                        {{ survey.closureDate|date('d/m/Y H:i') }}
                    </td>
                    <td>
                        <a href="{{ path('app_survey_show', {id: survey.id}) }}" class="ui button">{{ 'survey.label.show'|trans }}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>
                        {{ 'admin.surveys.no_active_survey'|trans }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}