<div class="header">{{ 'survey.list'|trans }}</div>
<div class="scrolling content">
    <table class="ui very basic collapsing celled table">
        <tbody>
        {% for survey in surveys %}
            <tr>
                <td>
                    {{ survey.name }}
                </td>
                <td>
                    {{ survey.closureDate|date('d/m/Y H:i') }}
                </td>
                <td>
                    <a class="ui button js-select-survey" data-id="{{ survey.id }}">{{ 'survey.label.select'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>
                    {{ 'admin.surveys.no_active_survey'|trans }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
