{% extends (app.request.xmlHttpRequest ? 'template/empty.html.twig' : 'template/base_tpl.html.twig') %}

{% block body %}
    <div class="center aligned segment js-loaded-content">
        <div class="survey results">
            <h3>{{ survey.name }}</h3>
            {% if survey.closureDate < date() %}
                <div>{{ 'ended_on.label'|trans ~ ' ' ~ survey.closureDate|date('d/m/Y') }}</div>
            {% else %}
                <button class="ui button js-survey-edit-answers" data-href="{{ path('app_survey_show', {'id': survey.id, 'view': 'form'}) }}">{{ 'survey.label.edit_answers'|trans }}</button>
            {% endif %}

            <div class="row">
                {% for question in survey.questions if question.answers|length %}
                    {% set nb_total = user_answer[question.id]['total'] is defined ? user_answer[question.id]['total'] : 0 %}
                    <h4 class="ui dividing form-label header">{{ question.label }}</h4>
                    {% for answer in question.answers %}
                        {% set nb_answers = user_answer[question.id][answer.id] is defined ? user_answer[question.id][answer.id] : 0 %}
                        <div class="field">
                            <div class="ui survey progress" data-value="{{ nb_answers }}" data-total="{{ nb_total }}">
                                <div class="bar js-popup" data-content="{{ 'nb_votes.label'|transchoice(nb_answers) }}">
                                    <div class="question">{{ answer.id in user_answers_id ? '<i class="checkmark icon"></i>' : '' }}{{ answer.label }}</div>
                                </div>
                                <div class="question">{{ answer.id in user_answers_id ? '<i class="checkmark icon"></i>' : '' }}{{ answer.label }}</div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            {% if survey.closureDate >= date() %}
                <div class="ui mini transparent message">
                    {{ 'survey.will_end.label'|trans ~ ' ' ~ survey.closureDate|date('d/m/Y') }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
