{% extends (app.request.xmlHttpRequest ? 'template/empty.html.twig' : 'template/base_tpl.html.twig') %}

{% block body %}
    <div class="center aligned segment js-loaded-content">
        <form class="ui form {{ not is_granted('IS_AUTHENTICATED_FULLY') ? 'info ' : '' }}survey-answer-form js-answer-survey" action="{{ path('app_survey_submit', {id: survey.id}) }}" method="POST">
            <h3>{{ survey.name }}</h3>

            <div class="field">
                {% for question in survey.questions if question.answers|length %}
                    <div class="grouped fields">
                        <h4 class="ui dividing form-label header">{{ question.label }}</h4>
                        {% for answer in question.answers %}
                            <div class="field">
                                <div class="ui radio{{ answer.id in user_answers_id ? ' checked' : '' }} checkbox">
                                    <input name="survey_answer_{{ question.id }}" {{ answer.id in user_answers_id ? 'checked=""' : '' }} tabindex="{{ loop.index0 }}" value="{{ answer.id }}" class="hidden" type="radio">
                                    <label>{{ answer.label }}</label>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                {% if survey.closureDate >= date() %}
                    <div class="ui mini transparent message">
                        {{ 'survey.will_end.label'|trans ~ ' ' ~ survey.closureDate|date('d/m/Y') }}
                    </div>
                {% endif %}
            </div>

            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="ui icon info message">
                    <i class="info icon"></i>
                    <div class="content">
                        <div class="header">{{ 'user.info.log_in.title'|trans }}</div>
                        <p>{{ 'user.info.log_in.message'|trans }}</p>
                    </div>
                </div>
            {% else %}
                <button class="ui primary button js-submit-button">{{ 'form.action.submit'|trans }}</button>
            {% endif %}
        </form>
    </div>
{% endblock %}
