{% extends 'template/base_tpl.html.twig' %}

{% import 'template/macros.html.twig' as self %}

{% block body %}
    <div class="sixteen wide column">
        {% if user_list is defined %}
            {{ self.pagination(_context, path('app_admin_listusers')) }}

            <table class="ui celled table admin-table-list">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{{ 'user_list.header.public_name'|trans }}</th>
                    <th>{{ 'user_list.header.email'|trans }}</th>
                    <th>{{ 'user_list.header.creation_date'|trans }}</th>
                    <th>{{ 'list.header.status'|trans }}</th>
                    <th>{{ 'list.header.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in user_list %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ user.publicName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.creationDate|date('d/m/Y H:i') }}</td>
                        <td>{{ user.statusLabel(user.status)|trans }}</td>
                        <td>
                            <div class="ui buttons">
                                <a class="ui button" href="{{ path('app_utilisateur_userprofile', {nickname: user.nickname}) }}" data-tooltip="{{ 'user.action.view_profile'|trans }}">
                                    <i class="eye icon"></i>
                                </a>
                                {% if is_granted('ROLE_ALLOWED_TO_SWITCH') and app.user != user %}
                                    <a class="ui button" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_switch_user': user.nickname})) }}" data-tooltip="{{ 'user.action.take_control'|trans }}">
                                        <i class="spy icon"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <p>{{ 'list.no_result'|trans }}</p>
                {% endfor %}
                </tbody>
            </table>

            {{ self.pagination(_context, path('app_admin_listusers')) }}
        {% endif %}
    </div>
{% endblock %}