{% extends 'template/base_tpl.html.twig' %}

{% block body %}
    <div class="two column row">
        <div class="column">
            <h3>{{ 'admin.surveys.last_actives'|trans }}</h3>
            <table class="ui very basic collapsing celled table">
                <tbody>
                {% for survey in surveys %}
                    <tr>
                        <td>
                            {{ survey.name }}
                        </td>
                        <td>
                            <a href="{{ path('app_survey_show', {id: survey.id }) }}" class="ui button">{{ 'survey.label.show'|trans }}</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>
                            {{ 'admin.surveys.no_active_survey'|trans }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('app_survey_createedit') }}" class="ui primary button">{{ 'survey.label.create'|trans }}</a>
        </div>

        {% if users|length %}
            <div class="column">
                <h3>{{ 'admin.users.last_signup'|trans }}</h3>
                <table class="ui very basic collapsing celled table">
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>
                                    <h4 class="ui image header">
                                        <img src="{{ user.avatar }}" class="ui mini rounded image">
                                        <span class="content">
                                            {{ user.publicName }}
                                            <div class="sub header">{{ user.firstName ~ ' ' ~ user.lastName }}</div>
                                        </span>
                                    </h4>
                                </td>
                                <td>
                                    <span data-tooltip="{{ user.creationDate|date('d/m/Y H:i') }}">{{ 'user.profile.member_since'|trans ~ ' ' ~ user.creationDate|aging }}</span>
                                </td>
                                <td>
                                    <a href="{{ path('app_utilisateur_userprofile', {nickname: user.nickname}) }}" class="ui button">
                                        {{ 'user.action.view_profile'|trans }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('app_admin_listusers') }}" class="ui primary button">{{ 'sidebar.admin.list_users'|trans }}</a>
            </div>
        {% endif %}
    </div>

    {{ parent() }}
{% endblock %}