{% extends '@IvoryCKEditor/Form/ckeditor_widget.html.twig' %}

{% block ckeditor_widget %}
    {{ parent() }}

    <div class="js-editor-modal ui modal">
        <div class="ui active loader"></div>
    </div>
{% endblock %}