{% use "form_div_layout.html.twig" %}

{# Misc #}

{%- block form_start -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}

    {%- set attr = attr|merge({class: 'ui form' ~ ( form.vars.attr.class is defined ? ' ' ~  form.vars.attr.class|trim : '' ) ~ ( attr.class is defined ? ' ' ~  attr.class|trim : '' )}) -%}

    {% if not valid %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' error')|trim}) -%}
    {% endif %}

    {% if submitted and valid %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' success')|trim}) -%}
    {% endif %}

    <form name="{{ name }}" method="{{ form_method|lower }}"{% if action != '' %} action="{{ action }}"{% endif %}{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
{%- endblock form_start -%}



{# Widgets #}

{% block form_widget_simple -%}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default(''))|trim}) -%}
    {% endif %}

    {% if attr.icon is defined %}
        <div class="ui left icon input">
            <i class="{{ attr.icon }} icon"></i>
    {% endif %}

    {{- parent() -}}

    {% if attr.icon is defined %}
        </div>
    {% endif %}
{%- endblock form_widget_simple %}

{% block textarea_widget -%}
    {% set attr = attr|merge({class: (attr.class|default(''))|trim}) %}
    {{- parent() -}}
{%- endblock textarea_widget %}

{% block button_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' ui button')|trim}) %}
    {{- parent() -}}
{%- endblock %}}

{% block money_widget -%}
    {% set append = money_pattern starts with '{{' %}

    <div class="ui{{ append ? ' right' : '' }} labeled input">
        {% if not append %}
            <div class="ui label">{{ money_pattern|replace({ '{{ widget }}':''}) }}</div>
        {% endif %}
        {{- block('form_widget_simple') -}}
        {% if append %}
            <div class="ui label">{{ money_pattern|replace({ '{{ widget }}':''}) }}</div>
        {% endif %}
    </div>
{%- endblock money_widget %}

{% block percent_widget -%}
    <div class="ui right labeled input">
        {{- block('form_widget_simple') -}}
        <div class="ui label">%</div>
    </div>
{%- endblock percent_widget %}

{% block date_widget -%}
    {% if widget == 'single_text' %}
        {% if datetime is defined %}
            <div class="field">
        {% endif %}
        {{- block('form_widget_simple') -}}
        {% if datetime is defined %}
            </div>
        {% endif %}
    {% else -%}

        {% if attr.inline is not defined %}
            <div class="fields">
        {% endif %}

        {{- date_pattern|replace({
            '{{ year }}': '<div class="field three wide">' ~ form_widget(form.year) ~ '</div>',
            '{{ month }}': '<div class="field three wide">' ~ form_widget(form.month) ~ '</div>',
            '{{ day }}': '<div class="field two wide">' ~ form_widget(form.day) ~ '</div>',
        })|raw -}}

        {% if attr.inline is not defined %}
            </div>
        {% endif %}

    {% endif %}
{%- endblock date_widget %}

{% block time_widget -%}
    {% if widget == 'single_text' %}
        {% if datetime is defined %}
            <div class="field">
        {% endif %}
        {{- block('form_widget_simple') -}}
        {% if datetime is defined %}
            </div>
        {% endif %}
    {% else -%}

        {% if attr.inline is not defined %}
            <div class="fields">
        {% endif %}

        <div class="field">{{- form_widget(form.hour) }}</div>{% if with_minutes %}<div class="field">{{ form_widget(form.minute) }}</div>{% endif %}{% if with_seconds %}<div class="field">{{ form_widget(form.second) }}</div>{% endif %}

        {% if attr.inline is not defined %}
            </div>
        {% endif %}

    {% endif %}
{%- endblock time_widget %}

{% block datetime_widget -%}
    {% if widget == 'single_text' %}
        {{- block('form_widget_simple') -}}
    {% else -%}
        {{- form_errors(form.date) -}}
        {{- form_errors(form.time) -}}
        {{- form_widget(form.date, { datetime: true, attr: attr } ) -}}
        {{- form_widget(form.time, { datetime: true, attr: attr } ) -}}
    {%- endif %}
{%- endblock datetime_widget %}

{% block choice_widget_collapsed -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' ui dropdown')|trim}) %}
    {{- parent() -}}
{%- endblock %}

{% block choice_widget_expanded -%}
    {%- for child in form %}
        <div class="field">
            <div class="ui radio checkbox">
                {{- form_widget(child) -}}
                {{- form_label(child) -}}
            </div>
        </div>
    {% endfor -%}
{%- endblock choice_widget_expanded %}

{% block checkbox_widget -%}
    {%- set attr = attr|merge({class: 'hidden'}) -%}
    {{- parent() -}}
{%- endblock checkbox_widget %}

{% block radio_widget -%}
    {%- set attr = attr|merge({class: 'hidden'}) -%}
    {{- parent() -}}
{%- endblock radio_widget %}

{% block calendar_widget -%}
    <div class="ui calendar js-calendar-picker {{ (attr.class is defined ? attr.class : '') }}">
        <div class="ui input left icon">
            <i class="calendar icon"></i>
            {{- block('form_widget_simple') -}}
        </div>
    </div>

    <script defer async>
        $('#{{ id }}').parents('.js-calendar-picker').calendar(calendar_config_default);
    </script>
{%- endblock %}

{% block user_search_widget -%}
    <div class="field">
        <div class="ui input left icon">
            <i class="user icon"></i>
            {{- block('form_widget_simple') -}}
        </div>
    </div>
{%- endblock %}



{# Labels #}

{% block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default(''))|trim}) -%}

    {% if multiple is defined and expanded is defined and multiple == false and expanded == true %}
        {%- set label_attr = label_attr|merge({for: full_name}) -%}
    {% endif %}

    {{- parent() -}}
{%- endblock form_label %}



{# Rows #}

{% block form_row -%}
    <div
        class="field{{ attr.inline is defined ? ' inline' : '' }}{{ required ? ' required' : '' }}{% if (not compound or force_error|default(false)) and not valid %} error{% endif %}{{ attr.icon is defined ? ' icon' : ''}}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row %}

{% block choice_row -%}
    {% set force_error = true %}
    {% if multiple == false and expanded == true %}
        <div class="fields{{ attr.inline is defined ? ' inline' : (attr.choices_inline is defined ? ' inline choices' : ' grouped') }}{{ required ? ' required' : '' }}{% if (not compound or force_error|default(false)) and not valid %} error{% endif %}">
            {{- form_label(form) -}}
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>
    {% else %}
        {{- block('form_row') }}
    {% endif %}
{%- endblock choice_row %}

{% block date_row -%}
    {% set force_error = true %}

    {% if attr.inline is defined and widget != 'single_text' %}
        {% set field_class = 'fields' %}
    {% else %}
        {% set field_class = 'field' %}
    {% endif %}

    <div class="{{ field_class }}{{ attr.inline is defined ? ' inline' : '' }}{{ required ? ' required' : '' }}{% if (not compound or force_error|default(false)) and not valid %} error{% endif %}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock date_row %}

{% block time_row -%}
    {% set force_error = true %}

    {% if attr.inline is defined and widget != 'single_text' %}
        {% set field_class = 'fields' %}
    {% else %}
        {% set field_class = 'field' %}
    {% endif %}

    <div class="{{ field_class }}{{ attr.inline is defined ? ' inline' : '' }}{{ required ? ' required' : '' }}{% if (not compound or force_error|default(false)) and not valid %} error{% endif %}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock time_row %}

{% block datetime_row -%}
    {% set force_error = true %}

    {% if attr.inline is defined and widget != 'single_text' %}
        {% set field_class = 'fields' %}
    {% else %}
        {% set field_class = 'field' %}
    {% endif %}

    <div class="{{ field_class }}{{ attr.inline is defined ? ' inline' : '' }}{{ required ? ' required' : '' }}{% if (not compound or force_error|default(false)) and not valid %} error{% endif %}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock datetime_row %}

{% block checkbox_row -%}
    <div class="field{{ required ? ' required' : '' }}{% if not valid %} error{% endif %}">
        <div class="ui checkbox{{ attr.checkbox_type is defined ? ' ' ~ attr.checkbox_type : '' }}">
            {{- form_widget(form) -}}
            {{- form_label(form) -}}
            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock checkbox_row %}

{% block radio_row -%}
    <div class="field{{ required ? ' required' : '' }}{% if not valid %} error{% endif %}">
        <div class="ui radio checkbox">
            {{- form_widget(form) -}}
            {{- form_label(form) -}}
            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock radio_row %}



{# Errors #}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        <div class="ui message error">
            {% if errors|length == 1 %}
                <p>{{ errors[0].message }}</p>
            {% else %}
                <ul class="list">
                    {%- for error in errors -%}
                        <li>{{ error.message }}</li>
                    {%- endfor -%}
                </ul>
            {% endif %}
        </div>
    {%- endif %}
{%- endblock form_errors %}



{# Support #}

{%- block widget_attributes -%}
    id="{{ id }}" name="{{ full_name }}"
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {% if attrname != 'inline' %}
            {{- " " -}}
            {%- if attrname in ['placeholder', 'title'] -%}
                {{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
            {%- elseif attrvalue is same as(true) -%}
                {{- attrname }}="{{ attrname }}"
            {%- elseif attrvalue is not same as(false) -%}
                {{- attrname }}="{{ attrvalue }}"
            {%- endif -%}
        {% endif %}
    {%- endfor -%}
{%- endblock widget_attributes -%}

{% block collection_label %}
    {% if label %}
        <label class="">{{ label }}</label>
    {% endif %}
{% endblock collection_label %}

{% block collection_widget %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': block('collection_item_widget') }) %}
    {% endif %}
    <div {{ block('widget_container_attributes') }}>
        {{ form_errors(form) }}
        {% for row in form %}
            {{ form_errors(row) }}
            {{ form_widget(row) }}
        {% endfor %}
    </div>

    <button class="ui primary button js-add-{{ name }}{{ attr.button_class is defined ? ' '~attr.button_class : '' }}" type="button">
        <i class="add icon"></i> {{ attr.add_label is defined ? attr.add_label|trans : 'add.label'|trans }}
    </button>
{% endblock collection_widget %}

{% block collection_item_widget %}
    {% spaceless %}
        <div class="inline-item">
            {{ form_row(prototype) }}
            <button type="button" class="ui primary button remove-line-button js-remove-{{ name }}" data-{{ name }}-index="{{ prototype.vars.name }}">
                <i class="delete icon"></i> {{ attr.delete_label is defined ? attr.delete_label|trans : 'delete.label'|trans }}
            </button>
        </div>
    {% endspaceless %}
{% endblock collection_item_widget %}
