.right-separated {
  border-right: 2px solid $primary-color;
}

.small-calendar header {
  text-align: center;

  a, span {
    display: inline-block;
  }
}

.ui.calendar .ui.table.day tr:first-child th {
  z-index: 3;
}

.ui.calendar.popup {
  border-radius: .28571429rem;
  background: none;

  &:before {
    background: #fff !important;
  }
}

.calendar thead th {
  padding: 0 !important;
}

.calendar tbody tr {
  overflow: auto;
}

table.calendar:not(.popup) > tbody td:before {
  padding-top: 100%; 	/* initial ratio of 1:1*/
}

.calendar tbody td {
  position: relative;

  &:before {
    content: "";
    display: block;
  }

  a, span {
    line-height: 1em;
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0 !important;
    margin: 0;
    margin-top: -0.5em;
    height: 100%;
  }

  &.selectable {
    &:before {
      position: absolute;
      top: 5%;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 0 !important;
      margin: 0 auto;
      width: 90%;
      height: 90%;
      background: $tertiary-color;
    }

    &:hover:before {
      background: $secondary-color;
    }

    a:hover {
      color: #FFF !important;
    }

    color: #FFF;
  }
}

.calendar tbody tr td.in:not(.selectable), .calendar tbody tr:hover td.in:not(.selectable) {
  color: #111;
}

.event-date div {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
}

.ui.image.subscriber {
  position: relative;
}

.ui.image.subscriber:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ui.image.subscriber.present {
  box-sizing: border-box;
  border: 2px solid rgba(0, 172, 17, 0.5);
}

.ui.image.subscriber.not-present {
  img {
    filter: grayscale(100%);
  }

  .close {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    filter: none;
    overflow: hidden;
  }
  .close:before, .close:after {
    position: absolute;
    content: ' ';
    left: 0;
    top: 50%;
    margin-top: -1.5px;
    height: 3px;
    width: 100%;
    background-color: rgba(208, 0, 4, 0.6);
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
}

.found.user {
  padding: 3px;
  line-height: 40px;
  overflow: hidden;

  .avatar, span {
    display: inline-block;
    vertical-align: middle;
  }

  .avatar {
    max-width: 40px;
    max-height: 40px;
  }
}

.input.image.avatar {
  position: absolute;
  right: auto;
  left: 1px;
  max-width: 34px;
  max-height: 34px;
  opacity: 0.8;
  top: 0;
  line-height: 1;
  margin: 4px;
}

/** Responsiveness **/

@media screen and (max-width: 1230px){
  .ui.container {
    background-size: auto !important;
  }

  .ui.grid > .column.calendar-container {
    width: 100% !important;

    .ui.calendar {
      margin: 0 auto;
      min-width: 300px;
      width: 50%;
      max-width: 600px;
    }

    &+div {
      width: 100% !important;
    }
  }

  .header.title.multiline {
    line-height: 66px !important;

    div.description {
      display: none;
    }
  }

  .topic-list a.item div.image .icon, .section-list a.item div.image .icon {
    width: 35px;

    &:before {
      line-height: 56px;
      display: block;
      font-size: 2rem;
    }
  }

  .ui.items.section-list .item .content .metadata .item.nb-topics, .topic-list .item .content .metadata .item.nb-messages {
    display: none;
  }
}

@media screen and (max-width: 768px){
  .header-nav {
    display: block !important;
    text-align: center;
  }

  .header-nav a.item, .header-nav div.right.menu {
    display: block !important;
    text-align: center;
    width: 100%;
  }

  .ui.grid > .column.calendar-container {
    border-right: none;
  }

  .ui.container {
    width: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
