.ui.form {
  input:not([type]),
  input[type="text"],
  input[type="email"],
  input[type="search"],
  input[type="password"],
  input[type="number"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="tel"],
  input[type="time"],
  input[type="file"],
  input[type="url"],
  textarea {
    border-radius: 0;

    &:focus {
      border-radius: 0;
    }
  }
}

.ui.toggle.checkbox input:checked ~ .box::before,
.ui.toggle.checkbox input:checked ~ label::before {
  background-color: $secondary-color !important;
}
