/**{ Forum }**/
.forum.title {
  padding-top: 1rem;
}

.ui.items.section-list .item .content,
.topic-list .item .content {
  position: relative;
  line-height: 56px;
  padding: 0 5px !important;

  .image {
    display: inline-block;
  }

  .title.multiline {
    vertical-align: top;
    margin-top: 5px;
    line-height: 30px;

    .description {
      line-height: 26px;
      font-size: 1rem;
      color: #666;
      font-style: italic;
    }
  }

  .metadata {
    position: absolute;
    right: 0;
    top: 0;
    background: #FFF;

    .item {
      line-height: 28px;
      text-align: center;
      display: inline-block;

      &:not(:first-child) {
        margin-left: 8px;
      }

      &.topic.activity,
      &.section.activity {
        width: 150px;
      }

      &.topic.nb-messages,
      &.section.nb-topics {
        width: 100px;
      }

      i, p {
        height: 28px;
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
      }
    }
  }
}

.ui.items.section-list .item,
.ui.items.topic-list .item {
  padding: 0;
}

.ui.items.section-list .archived.element,
.ui.items.topic-list .archived.element {
  display: none;
}

.ui.items.section-list .item .metadata,
.ui.items.topic-list .item .metadata {
  height: 66px;
}

.ui.items.section-list .item .metadata > div,
.ui.items.topic-list .item .metadata > div {
  margin: 5px 0;
}

.ui.items.section-list .item > div:not(.metadata),
.ui.items.topic-list .item > div:not(.metadata) {
  padding: 0;
  margin: 0;
  line-height: 66px;
  height: 66px;
}

.topic-list .pinned.topic, .topic-list .pinned.topic .metadata {
  background: $backgroundLight;
}

.topic-list .moderation.options,
.section-list .moderation.options {
  float: left;
  line-height: 66px;
  text-align: center;
  margin-top: 1px;

  a {
    display: block;
    width: 40px;
    height: 66px;
    background: $primary-color;
    color: $white;
    cursor: pointer;

    &:hover {
      background-color: $secondary-color;
    }

    i {
      margin: 0 auto;
    }
  }
}

.permission.panel {
  display: none;

  .item.action {
    line-height: 42px;
    background: $primary-color;
    color: $white;

    i {
      margin: 0;
    }
  }
}

.topic-list .moderation.options + .item,
.section-list .moderation.options + .item {
  width: auto;
}

/**{ Topic Messages }**/
.ui.items.message-list > .item {
  p.pseudo, p.group {
    margin: 4px 0;
  }

  p.group {
    font-style: italic;
  }

  & > .content {
    .metadata {
      overflow: auto;
      width: 100%;
      border-bottom: 1px solid rgba(34, 36, 38, 0.15);
      margin-bottom: 20px;
      line-height: 30px;
      color: rgba(0, 0, 0, 0.4);

      a {
        color: rgba(0, 0, 0, 0.4);

        &:hover {
          color: $primary-color;
        }
      }
    }

    &>:not(.metadata) {
      font-size: 1.2em;
    }
  }

  & > .image {
    margin: 8px 0;

    & > p {
      text-align: center;
    }
  }
}

.ui.persmission.table {
  margin: 0;
  border-radius: 0;
}