#main-wrapper {
  background: transparent url('../media/img/background.jpg') top center no-repeat fixed;
  background-size: contain;
}

#main-wrapper > header {
  background-color: #FFFFFF;
  background-color: rgba(250,250,250,0.5);
}

#main-wrapper .header-nav, #main-wrapper .admin-vertical-nav {
  background: $secondary-color;
  border: 0 solid $primary-color;

  .item {
    color: #EEE;
    text-decoration: none;
    font-variant: small-caps;
    text-shadow: 0 0 2px #111;

    &:hover {
      background-color: $tertiary-color;
    }
  }

  .item, .item:hover {
    transition: background 0.1s linear;
  }
}

#main-wrapper .header-nav {
  width: 100%;
  border-top-width: 2px;
  border-bottom-width: 2px;
  overflow: hidden;
}

.ui.message.flash-message {
  margin: 0;

  p {
    margin: 0;
  }
}

.ui.menu .menu.displayer.item {
  display: none;
}