.prototype {
  display: none;
}

.admin-media-list {
  .media {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 20px;
    flex-wrap: wrap;

    img {
      order: 1;
      max-height: 100%;
      margin-right: 20px;
    }

    .edit.form {
      order: 2;
      margin-bottom: 0;
      align-self: flex-start;
      flex-grow: 1;

      .field {
        display: block;
        width: 100%;
      }

      textarea {
        height: 8em;
      }
    }
  }
}
.media-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  img.media {
    padding-bottom: 0;
  }

  .media {
    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 30%;
      border: 1px solid $primary-color;
      z-index: 1;
      transition: border linear .2s;
    }

    &:before {
      left: 0;
      border-right: 0;
    }

    &:after {
      right: 0;
      border-left: 0;
    }

    position: relative;
    cursor: pointer;
    margin: 10px;
    overflow: hidden;
    height: 180px;
    z-index: 5;

    &:hover {
      &:before, &:after {
        border-width: 4px;
        transition: border linear .2s;
      }

      &:before {
        border-right: 0;
      }

      &:after {
        border-left: 0;
      }
    }

    .image-overlay {
      display: flex;
      align-content: center;
      align-items: center;
      opacity: 0;
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      background-color: rgba(200, 200, 200, .4);
      transition: opacity linear .2s;
      z-index: 1;

      div {
        text-shadow: 0 0 2px #C8C8C8;
        padding: 0 4px;
      }

      .image-name {
        width: 100%;
        text-align: center;
        margin-top: 4px;
      }
    }

    &+ p {
      font-style: italic;
    }

    &:hover {
      img {
        transition: filter 500ms;
        filter: blur(1px);
      }

      .image-overlay {
        opacity: 1;
        transition: opacity linear .2s;
      }
    }
  }
}

.media.modal {
  .content {
    &>.image {
      margin: 0 auto;
      height: 100%;
      max-height: 400px;
      max-width: 100%;
    }
  }
}

.fullscreen.image {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  opacity: 1;
  transition: opacity .5s;

  &.hidden {
    display: block !important;
    z-index: -1;
    opacity: 0;
    transition: opacity .5s;
  }

  .background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    z-index: 10;
  }

  .legend {
    position: fixed;
    bottom: 0;
    min-height: 6rem;
    line-height: 1rem;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8) 50%);
    z-index: 30;
    text-align: center;
    color: $white;
    padding: 20px;
    padding-top: 50px;

    .name {
      font-size: 1.3rem;
    }
  }

  .image {
    position: fixed;

    display: flex;
    align-items: center;
    align-content: center;

    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;

    z-index: 20;

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      max-height: 100%;
    }
  }

  div.close,
  div.next,
  div.previous {
    position: fixed;
    color: #000000;
    cursor: pointer;
    z-index: 200;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  }

  div.close {
    top: 5px;
    right: 5px;
    font-size: 3rem;
    line-height: 3rem;
  }

  div.next,
  div.previous {
    top: 50%;
    margin-top: -1.5rem;
    font-size: 6rem;
    line-height: 6rem;
  }

  div.next {
    right: 5px;
  }

  div.previous {
    left: 5px;
  }
}
