body {
  background: #FFF;
}

#main-wrapper {
  & > header, & > section, & > footer {
    border: 0 solid $primary-color;
  }
}

#main-wrapper > .main-section {
  background: #FFFFFF;
  padding: 0 15px;
}

.comments-container > .ui.header {
  margin-top: 0;
}

#main-wrapper {
  .ui.item.menu {
    border-radius: 0;
    margin: 0;
    padding: 0;

    a.item:first-child,
    a.item:last-child {
      border-radius: 0;
    }

    .item:hover {
      color: $white;
      background: $secondary-color;

      i {
        color: $white;
      }
    }
  }

  .admin-vertical-nav, .user-vertical-nav, .user-widget {
    width: auto;
    border: 1px solid $primary-color;
    border-radius: 0;
    background-color: $secondary-color;
    margin-bottom: 1em;

    .image {
      width: 30%;
      max-width: 150px;
      padding: 0.5rem;

      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .header {
      line-height: 2rem;
      color: #EEE;
      padding-left: 0.5rem;
    }

    .item:first-child {
      border-radius: 0;
    }

    .item:last-child {
      border-radius: 0;
    }

    .item {
      line-height: 2rem;
    }

    .item, .header {
      color: #EEE;
      text-decoration: none;
      font-variant: small-caps;
      text-shadow: 0 0 2px #111;
    }
  }

  .user-widget .items {
    padding: 0 4px;
  }

  .user-widget .item {
    display: inline;
    font-variant: normal;
    margin: 5px 0;

    &:first-child {
      margin-top: 0;
    }
  }

  .topic-activity-list span,
  .article-activity-list span,
  .message-activity-list span {
    margin: 0 2px;
    font-style: italic;

    &.name {
      font-style: normal;
      font-weight: bold;
    }
  }

  .admin-table-list,
  .conversations.table {
    border: 1px solid $secondary-color;
    border-radius: 0;

    thead tr th {
      border-radius: 0;
      background: $secondary-color;
      color: #EEE;
    }

    tbody tr, tbody tr:hover {
      transition: background 0.1s linear;
    }

    tbody tr:hover {
      background: $backgroundLight;
    }

    tbody .ui.buttons .ui.icon.button {
      background: transparent;
    }
  }

  .article-list > .item {
    margin-bottom: 0;
    position: relative;
    padding-bottom: 80px !important;

    &:hover {
      background: $backgroundLight;
    }

    .image, .image > img {
      border-radius: 0;
    }

    .content > .header {
      font-size: 2rem;
      padding: 10px 0;
      color: $primary-color;
    }

    .labeled.menu {
      position: absolute;
      height: 80px;
      bottom: 0;
      left: 0;
      top: 100%;
      margin-top: -80px;
      border: none;
      box-shadow: none;
      background: transparent;
    }
  }
}

.user-vertical-nav {
  .image + .content {
    padding-left: 0 !important;
  }
}

.article-list .item > .image {
  img {
    max-height: 150px;
    max-width: 200px;
  }
}

// Article
.article-container > header, .event-header {
  border-bottom: 2px solid $primary-color;
}

.article-container > header > div,
.event-header > div {
  line-height: 2.3rem;
}

.event-container article, .article-container article {
  border-bottom: 2px solid $primary-color;
  margin-bottom: 1rem;
}

.news-content img,
.event-content img {
  max-width: 100%;
  height: auto !important;
}

.article-container > footer,
.event-organizer {
  padding: 0 !important;

  .image {
    max-width: 60px;
    line-height: normal;

    img {
      max-width: 100%;
    }
  }
}

.comments-container {
  border-top: 2px solid $primary-color;
}

.event-placeholder {
  font-size: 2rem;
  color: #CCC;
  text-shadow: 1px 1px 0 #AAA;
}

// Profile
.profile-container > .item {
  margin-bottom: 0;
  padding-bottom: 80px !important;

  &:hover {
    background: $backgroundLight;
  }

  .image, .image > img {
    border-radius: 0;
  }

  .content > .header {
    font-size: 2rem;
    padding: 10px 0;
    color: $primary-color;
  }

  .content {
    position: relative;

    .meta {
      margin: 0;

      .item {
        line-height: 1.5rem;
      }
    }
  }

  .labeled.menu {
    position: absolute;
    height: 80px;
    bottom: 0;
    left: 0;
    top: 100%;
    margin-top: -80px;
    border: none;
    box-shadow: none;
    background: transparent;
  }
}

.profile-container .item > .image {
  img {
    max-height: 200px;
    max-width: 200px;
  }
}

.uploader.wrapper.column {
  height: 257.4px;
}

.uploader.container {
  margin: 28.7px 0;
}

.uploader.wrapper.column + .column {
  vertical-align: middle;
  width: auto;
  display: block;
  position: absolute;
  left: 200px;
  right: 0;
  margin-left: 1rem;
}

.conversation.vertical.menu {
  border: none;
  background: transparent;
  box-shadow: none;
  max-width: 100%;

  .menu {
    .item {
      margin: 6px 0;
      background: $secondary-color;
      color: $white;
      line-height: 24px;

      &:hover {
        background: $primary-color;
      }
    }
  }
}

.icon.column {
  width: 70px;
}

.conversation.user.list {
  min-height: 90px;
}

.conversations .participants img {
  max-width: 50px;
  max-height: 50px;
}
