.survey-form {
  .inline-item {
    position: relative;
  }

  .remove-line-button {
    position: absolute;
    top: 26px;
    left: 100%;
    width: 20%;
  }

  .answer .remove-line-button {
    top: 3px;
  }

  .inline-item .inline-item, .inline-item .ui.button {
    margin-left: 2.5%;
    margin-top: 0;
  }

  .questions-container {
    margin-bottom: 2em;
  }

  .questions-container, .answers-container {
    position: relative;
  }

  .question {
    display: inline-block;
    width: 80%;
  }

  .answer {
    display: inline-block;
    width: 97.5%;
  }
}

.center.aligned.segment {
  text-align: center;
}

.survey-answer-form {
  text-align: left;
  display: inline-block;

  .ui.button {
    margin-top: 0 !important;
  }
}

.ui.form-label.header {
  margin-top: calc(2rem - 0.142857em);
  margin-bottom: 4px;
}
