.transparent.uploader.wrapper {

}

.uploader.container {
  margin: 0;

  .ui.uploader {
    &.media {
      border: 1px solid #b3b3b3;
      margin: 0;
      min-height: 120px;
    }
  }

  .dz-message {
    cursor: pointer;
    text-align: center;
    line-height: 120px;

    &::after {
      clear: both;
    }
  }

  .dz-preview {

  }
}
