{% extends 'template/base_tpl.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ 'changepassord.title'|trans }}</h1>
                {% for type, messages in app.session.flashBag.all %}
                    {% for message in messages %}
                        <div class="alert-{{ type }}">{{ message|trans }}</div>
                    {% endfor %}
                {% endfor %}

                {{ form_start(Form) }}
                {{ form_rest(Form) }}

                <button type="submit" class="btn btn-success">{{ 'changepassord.submit'|trans }} <span class="fa fa-lock"></span></button>
                {{ form_end(Form) }}
            </div>
        </div>
    </div>
{% endblock %}