<div class="sixteen wide column">
    <div class="row">
        {% if form is defined %}
            <h1 class="ui header">{{ 'preferences_edit.title'|trans }}</h1>

            {{ form_start(form) }}
                <div class="sixteen wide column">
                    {{ form_rest(form) }}
                </div>

                <div class="sixteen wide column">
                    <div class="ui grid">
                        <div class="row">
                            <div class="center aligned column">
                                <a class="ui center aligned secondary button" href="{{ path('app_utilisateur_userprofile', {"nickname": user.nickname}) }}">
                                    <i class="remove icon"></i>
                                    {{ 'action.cancel'|trans }}
                                </a>
                                <button type="submit" class="ui center aligned primary button">
                                    <i class="checkmark icon"></i>
                                    {{ 'action.submit_save'|trans }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        {% endif %}
    </div>
</div>