<div class="sixteen wide column">
    <div class="row">
        {% if form is defined %}
            <h1 class="ui header">{{ 'profile_edit.title'|trans }}</h1>

            {% if user.firstName is empty or user.lastName is empty %}
                <div class="ui warning message">
                    <div class="header">
                        Avant de reprendre votre navigation...
                    </div>
                    Nous aimerions que vous renseigniez votre prénom et votre nom dans votre profil. Cela aidera
                    grandement les administrateurs (membres du bureau) à savoir qui est qui sur le site. Ces
                    informations resteront bien sûr privées et ne seront visibles que par les membres du bureau. Merci !
                </div>
            {% endif %}

            {{ form_start(form) }}
                {{ form_row(form.avatar) }}

                <div class="ui grid">
                    <div class="row">
                        <div class="transparent uploader wrapper column">
                            <div class="uploader container">
                                <div class="js-dropzone ui avatar uploader" id="avatarDropzone">
                                    <img src="{{ user.avatar }}" alt="{{ user.publicName }}">
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="ui two column grid">
                                <div class="sixteen wide column">
                                    {{ form_row(form.publicName) }}
                                </div>

                                <div class="column">
                                    {{ form_row(form.firstName) }}
                                </div>
                                <div class="column">
                                    {{ form_row(form.lastName) }}
                                </div>

                                <div class="sixteen wide column">
                                    {{ form_row(form.email) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sixteen wide column">
                        {{ form_rest(form) }}
                    </div>

                    <div class="sixteen wide column">
                        <div class="ui grid">
                            <div class="row">
                                <div class="center aligned column">
                                    <a class="ui center aligned secondary button" href="{{ path('app_utilisateur_userprofile', {"nickname": user.nickname}) }}">
                                        <i class="remove icon"></i>
                                        {{ 'action.cancel'|trans }}
                                    </a>
                                    <button type="submit" class="ui center aligned primary button">
                                        <i class="checkmark icon"></i>
                                        {{ 'action.submit_save'|trans }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        {% endif %}
    </div>
</div>
