{% extends 'template/base_tpl.html.twig' %}

{% block body %}
    <div class="sixteen wide column">
        <div class="row">
            <div class="ui divided items profile-container">
                <div class="item">
                    <div class="image">
                        <img src="{{ user.avatar }}" alt="{{ user.publicName }}">
                    </div>

                    <div class="content">
                        <div class="header">{{ user.publicName }}</div>

                        <div class="meta">
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="user_identity item">{{ user.firstName ~ ' ' ~ user.lastName }}</div>
                            {% endif %}
                            <div class="user_role item">{{ user.roles(true)[0].name }}</div>
                        </div>

                        <div class="ui bottom attached labeled icon menu">
                            <div class="item">
                                <p>{{ 'user.profile.member_since'|trans }}</p>
                                <p title="{{ user.creationDate|date('d M Y à H:i') }}">{{ user.creationDate|aging }}</p>
                            </div>
                            <div class="right menu">
                                {% if app.user is not null %}
                                    {% if is_granted('ROLE_ALLOWED_TO_SWITCH') and app.user != user %}
                                        <a class="item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_switch_user': user.nickname})) }}">
                                            <i class="spy icon"></i>
                                            {{ 'user.action.take_control'|trans }}
                                        </a>
                                    {% endif %}
                                    {% if app.user.canEditProfileOf(user) %}
                                        <a class="item" href="{{ path('app_utilisateur_useredit', {"nickname": user.nickname}) }}">
                                            <i class="pencil icon"></i>
                                            {{ 'profile.button.edit'|trans }}
                                        </a>
                                    {% endif %}
                                    <a class="item" href="{{ path('app_utilisateur_usercontact', {"nickname": user.nickname}) }}">
                                        <i class="mail icon"></i>
                                        {{ app.user != user ? 'profile.button.contact'|trans : 'profile.button.new_message'|trans }}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <h1 class="ui header">{{ 'user.section.presentation'|trans }}</h1>
                {{ user.presentation|raw }}
            </div>
        </div>
    </div>
{% endblock %}

