{% extends 'template/base_tpl.html.twig' %}

{% block body %}
    <div class="ui two column centered grid">
        <div class="column">
            {{ form_start(form, {'attr' : {'class' : 'js-form-lostpassword'} }) }}
                <div class="ui header huge aligned center">{{ 'connexion.link.lost_password'|trans }}</div>

                {% for type, messages in app.session.flashBag.all %}
                    <div class="ui message {{ type }}">
                        <ul class="list">
                            {% for message in messages %}
                                <li>{{ message|trans }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
                {{ form_errors(form) }}

                {{ form_row(form.email) }}
                <a class="block aligned right js-load-lostpassword-form" href="{{ path('security_login') }}">{{ 'lostpassword.link.signin'|trans }}</a>

                <div class="form-actions">
                    <button type="submit" class="ui button primary fluid">{{ 'lostpassword.button.submit'|trans }}</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}