{% extends 'template/base_tpl.html.twig' %}

{% block body %}
    <div class="ui two column centered grid">
        <div class="column">
            {{ form_start(form, {'attr' : {'class' : 'js-form-register'} }) }}
                <div class="ui header huge aligned center">{{ 'inscription.title'|trans }}</div>

                {{ form_errors(form) }}

                {{ form_widget(form) }}

                <div class="form-actions ">
                    <div class="ui grid equal width">
                        <div class="column">
                            <button type="submit" class="ui button primary fluid">{{ 'inscription.button.signup'|trans }}</button>
                        </div>
                        <div class="column">
                            <a class="ui button secondary fluid js-switch-signin-signup-form" href="{{ path('security_login') }}">{{ 'inscription.link.signin'|trans }}</a>
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

