{% extends 'template/base_tpl.html.twig' %}

{% block body %}
    <div class="sixteen wide column">
        <div class="ui top attached tabular menu">
            <div class="active item" data-tab="profile">Profil</div>
            <div class="item" data-tab="preferences">Préférences</div>
        </div>
        <div class="ui bottom attached tab segment active" data-tab="profile">
            {{ render(controller('AppBundle:Utilisateur:userEditProfile', { 'nickname': user.nickname })) }}
        </div>
        <div class="ui bottom attached tab segment" data-tab="preferences">
            {{ render(controller('AppBundle:Utilisateur:userEditPreferences', { 'nickname': user.nickname })) }}
        </div>
    </div>
{% endblock %}