{% extends 'template/base_tpl.html.twig' %}

{% import 'template/macros.html.twig' as self %}

{% block body %}
    <div class="sixteen wide column">
        {{ self.pagination(_context, path('app_admin_listevents')) }}

        <table class="ui celled table admin-table-list">
            <thead>
            <tr>
                <th>#</th>
                <th>{{ 'events_list.header.title'|trans }}</th>
                <th>{{ 'events_list.header.start_date'|trans }}</th>
                <th>{{ 'events_list.header.status'|trans }}</th>
                <th>{{ 'events_list.header.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for event in event_list %}
                {% set index = loop.index %}
                <tr>
                    <td>{{ index }}</td>
                    <td>{{ event.name }}</td>
                    <td>{{ event.startDate|date('d/m/Y H:i') }}</td>
                    <td></td>
                    <td>
                        <div class="ui icon buttons">
                            <a href="{{ path('app_calendar_create', {event: event.id}) }}" class="ui button"><i class="edit icon"></i></a>
                            <a href="{{ path('app_calendar_archive', {id: event.id}) }}" class="ui button"><i class="archive icon"></i></a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr><td colspan="5">{{ 'events.list.no_result'|trans }}</td></tr>
            {% endfor %}
            </tbody>
        </table>

        {{ self.pagination(_context, path('app_admin_listevents')) }}
    </div>
{% endblock %}