{% extends 'template/base_tpl.html.twig' %}

{% block body %}
    <div class="sixteen wide column">
    {% if calendar is defined %}
        <div class="js-openEventList-filters">
            <label>Sélectionner des jours</label>
            <div class="ui buttons js-filter">
                <a class="ui {{ day_filters[1] is defined ? 'active ' : '' }}button" data-value="1">{{ 'calendar.day.monday.complete'|trans }}</a>
                <a class="ui {{ day_filters[2] is defined ? 'active ' : '' }}button" data-value="2">{{ 'calendar.day.tuesday.complete'|trans }}</a>
                <a class="ui {{ day_filters[3] is defined ? 'active ' : '' }}button" data-value="3">{{ 'calendar.day.wednesday.complete'|trans }}</a>
                <a class="ui {{ day_filters[4] is defined ? 'active ' : '' }}button" data-value="4">{{ 'calendar.day.thursday.complete'|trans }}</a>
                <a class="ui {{ day_filters[5] is defined ? 'active ' : '' }}button" data-value="5">{{ 'calendar.day.friday.complete'|trans }}</a>
                <a class="ui {{ day_filters[6] is defined ? 'active ' : '' }}button" data-value="6">{{ 'calendar.day.saturday.complete'|trans }}</a>
                <a class="ui {{ day_filters[7] is defined ? 'active ' : '' }}button" data-value="7">{{ 'calendar.day.sunday.complete'|trans }}</a>
            </div>
        </div>
        <table class="ui celled table admin-table-list js-openEvent-list">
            <thead>
            <tr>
                <th>#</th>
                <th>{{ 'list.header.date'|trans }}</th>
                <th>{{ 'list.header.status'|trans }}</th>
                <th>{{ 'list.header.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody data-href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
                {% include 'admin/events/open_date_list.html.twig' %}
            </tbody>
        </table>
    {% endif %}
    </div>
{% endblock %}