{% for day in calendar %}
    {% set status = (open_events[day|date('Y/m/d')] is defined ? (open_events[day|date('Y/m/d')].open ? 'opened' : 'closed') : null) %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ day|date('l d F Y') }}</td>
        <td class="center aligned js-openEvent-status">
            <i data-value="closed" class="{{ status and status != 'opened' ? '' : 'hidden ' }}large red close icon"></i>
            <i data-value="opened" class="{{ status and status != 'closed' ? '' : 'hidden ' }}large green checkmark icon"></i>
            <i data-value="unknown" class="{{ not status ? '' : 'hidden ' }}large blue help icon"></i>
        </td>
        <td class="js-action-opentEvent">
            {% if day|date('Ymd') >= today|date('Ymd') %}
                <a data-value="opened" class="{{ status and status != 'closed' ? 'hidden ' : '' }}ui primary button" href="{{ path('app_calendar_openeventelement', {action: 'open', datetime: day|date('Y-m-d H:i:s') }) }}">{{ 'action.open'|trans }}</a>
                <a data-value="closed" class="{{ status and status != 'opened' ? 'hidden ' : '' }}ui primary button" href="{{ path('app_calendar_openeventelement', {action: 'close', datetime: day|date('Y-m-d H:i:s') }) }}">{{ 'action.close'|trans }}</a>
                <a class="ui primary button js-customize-openEvent" href="{{ path('app_calendar_openeventcustomize', {datetime: day|date('Y-m-d H:i:s') }) }}">{{ 'action.customize'|trans }}</a>
            {% else %}
                <p>{{ 'openEvent.status.dateExpired'|trans }}</p>
            {% endif %}
        </td>
    </tr>
{% else %}
<tr><td colspan="5">{{ 'list.no_result'|trans }}</td></tr>
{% endfor %}
