{% extends 'template/base_tpl.html.twig' %}

{% block body %}
    <div class="sixteen wide column">

        <h1>{{ 'event_archive.title'|trans }}</h1>

        {{ form_start(form) }}

        {{ form_errors(form) }}

        {{ form_widget(form) }}

        <div class="form-actions ">
            <div class="ui grid equal width">
                <div class="column">
                    <button type="submit" class="ui button primary fluid">{{ 'event_archive.button.submit'|trans }}</button>
                </div>
                <div class="column">
                    <a href="{{ path('app_admin_listnews') }}" class="ui button primary fluid">{{ 'event_archive.button.cancel'|trans }}</a>
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}

