{% extends 'template/base_tpl.html.twig' %}

{% block body %}
    <div class="four wide column right-separated calendar-container">
        <div class="ui blurring row small-calendar">
            <div class="ui inverted dimmer">
                <div class="ui loader"></div>
            </div>

            <div class="js-small-calendar">
                {% include 'calendar/mini-calendar.html.twig' %}
            </div>
        </div>
    </div>

    <div class="ui blurring twelve wide column {{ (event is not defined ? 'center aligned middle aligned' : '') }}">
        <div class="ui inverted dimmer">
            <div class="ui loader"></div>
        </div>

        <div class="event-container js-event-container">
            {% if event is defined %}
                {% include 'calendar/event.html.twig' %}
            {% else %}
                <p class="event-placeholder header">{{ 'event_panel.placeholder'|trans }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}