{% extends 'template/base_tpl.html.twig' %}

{% block body %}
    <div class="sixteen wide column">

        <h1>{{ 'event_create.title'|trans }}</h1>

        {{ form_start(form) }}

        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.fkOrganizer) }}
        <div class="js-event-organizer-list"></div>

        {{ form_row(form.startDate) }}
        {{ form_row(form.endDate) }}
        {{ form_row(form.places) }}
        {{ form_row(form.content) }}

        <div class="form-actions ">
            <div class="ui grid">
                <div class="three wide right floated column">
                    <button type="submit" class="ui button primary fluid">{{ 'event_create.button.submit'|trans }}</button>
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}