<h3 class="header">
    {{ 'openEvent.customize.title'|trans }}
</h3>
<div class="js-customize-OpenEvent-form">
    {{ form_start(form) }}

        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.fkOrganizer) }}
        <div class="js-event-organizer-list"></div>

        {{ form_row(form.startDate) }}
        {{ form_row(form.endDate) }}
        {{ form_row(form.content) }}

        <div class="actions">
            <div class="two fluid ui buttons">
                <div class="ui cancel red inverted button js-customize-openEvent-submit" data-action="close">
                    <i class="remove icon"></i>
                    {{ 'openEvent.action.close'|trans }}
                </div>
                <div class="ui ok green inverted button js-customize-openEvent-submit" data-action="open">
                    <i class="checkmark icon"></i>
                    {{ 'openEvent.action.open'|trans }}
                </div>
            </div>
        </div>

    {{ form_end(form) }}
</div>

