<div class="ui grid" id="event-{{ event.id }}">
    <header class="row event-header">
        <div class="eleven wide column"><h1>{{ event.name }}</h1></div>
        {% if event.type is not constant('AppBundle\\Entity\\Event::TYPE_CAKE_EVENT') %}
            <div class="four wide column right aligned event-date"><div>{{ event.startDate|date('H:i') }}</div></div>
        {% endif %}
    </header>

    {% include 'calendar/subscribers.html.twig' with {subscribers: subscribers[event.id]} %}

    <article class="row">
        <div class="justified sixteen wide column event-content">
            {{ event.content|raw }}
        </div>
    </article>
</div>

{#{{ render(controller('AppBundle:Comment:eventComments', {event: event.id})) }}#}