{% extends (app.request.xmlHttpRequest ? 'template/empty.html.twig' : 'template/base_tpl.html.twig') %}

{% block body %}
    {% if app.request.xmlHttpRequest %}<div class="ui grid">{% endif %}
        <header class="row event-header">
            <div class="twelve wide column">
                <h1>{{ open_event.fkEvent.name }}</h1>
            </div>
            <div class="four wide column right aligned event-date">{{ open_event.date|strftime("d MMM YYYY") }}</div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="sixteen wide column">
                    <a class="ui button" href="{{ path('app_calendar_create', {date: open_event.date|date('Y-m-d')}) }}">{{ 'label.create_event'|trans }}</a>
                </div>
            {% endif %}
        </header>

        {% if open_event.open %}
            {% include 'calendar/subscribers.html.twig' with {subscribers: subscribers[open_event.fkEvent.id], event: open_event.fkEvent} %}

            <h1 class="row centered aligned header">{{ 'event.list.title'|trans }}</h1>
        {% endif %}
    {% if app.request.xmlHttpRequest %}</div>{% endif %}

    {% if open_event.open %}
        {% for event in event_list %}
            {% include 'calendar/event.html.twig' %}
        {% endfor %}
    {% endif %}
{% endblock %}
