<header class="js-navigation">
    <a href="{{ path('app_calendar_month', {year: prev_year, month: prev_month}) }}"><i class="icon left chevron"></i></a>
    <span>{{ month }} / {{ year }}</span>
    <a href="{{ path('app_calendar_month', {year: next_year, month: next_month}) }}"><i class="icon right chevron"></i></a>
</header>

<section>
    <table class="ui fixed celled unstackable table calendar">
        <thead class="center aligned">
        <tr>
            <th>{{ 'calendar.day.monday.letter'|trans }}</th>
            <th>{{ 'calendar.day.tuesday.letter'|trans }}</th>
            <th>{{ 'calendar.day.wednesday.letter'|trans }}</th>
            <th>{{ 'calendar.day.thursday.letter'|trans }}</th>
            <th>{{ 'calendar.day.friday.letter'|trans }}</th>
            <th>{{ 'calendar.day.saturday.letter'|trans }}</th>
            <th>{{ 'calendar.day.sunday.letter'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for day in calendar %}
            {% if loop.first %}
                <tr>
            {% endif %}
            {% if not loop.first and not loop.last and loop.index0%7 == 0 %}
                </tr><tr>
            {% endif %}

            {% set additional_class = (day|date('m') != month ? 'out ' : 'in ') %}
            {% if open_events[day|date('Y/m/d')] is defined and open_events[day|date('Y/m/d')] %}
                <td class="selectable {{ additional_class }}">
                    <a class="center aligned middle aligned event" href="{{ path('app_calendar_day', {year: day|date('Y'), month: day|date('m'), day: day|date('d')}) }}">
                        {{ day|date('d') }}
                    </a>
                </td>
            {% else %}
                <td class="disabled center aligned {{ additional_class }}">
                    <span>{{ day|date('d') }}</span>
                </td>
            {% endif %}

            {% if loop.last %}
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</section>