<div class="row">
    <div class="fifteen wide column">
        {% for subscriber in subscribers %}
            <a
                class="ui mini image subscriber {{ subscriber.present ? 'present' : 'not-present' }} js-popup" data-content="{{ subscriber.fkUser.publicName }}"
                href="{{ path('app_utilisateur_userprofile', {nickname: subscriber.fkUser.nickname}) }}">
                <img src="{{ subscriber.fkUser.avatar }}" alt="{{ subscriber.fkUser.publicName }}" title="{{ subscriber.fkUser.publicName }}">
                {% if not subscriber.present %}
                    <i class="close"></i>
                {% endif %}
            </a>
        {% endfor %}
    </div>
    {% if event.fkOrganizer %}
        <div class="one wide column event-organizer">
            <div class="image js-popup" data-content="{{ event.fkOrganizer.publicName }}">
                <img src="{{ event.fkOrganizer.avatar }}" alt="{{ event.fkOrganizer.publicName }}">
            </div>
        </div>
    {% endif %}
</div>

{% if event.isOpen and is_granted("IS_AUTHENTICATED_FULLY") %}
    <div class="centered aligned row">
        <a class="ui inverted green button js-event-action" href="{{ path('app_calendar_eventsubscription', {event: event.id, action: 'subscribe'}) }}">{{ 'event.action.subscribe'|trans }}</a>
        <a class="ui inverted red button js-event-action" href="{{ path('app_calendar_eventsubscription', {event: event.id, action: 'unsubscribe'}) }}">{{ 'event.action.unsubscribe'|trans }}</a>
    </div>
{% endif %}