{% extends 'template/base_tpl.html.twig' %}

{% block body %}
    <div class="ui grid">
        <div class="row">
            <div class="column">
                <h1 class="ui header">Bienvenue !</h1>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p>
                    Bonjour à tous et bienvenue sur le site de l'association <b>La Taverne du Hasard</b>
                </p>

                <p>
                    Notre association est ouverte tous les dimanches de 13h30 à 18h30 et une grande majorité des vendredi soir de 21h00 à 00h00.
                    Vous trouverez sur notre site toutes les informations concernant l'association :
                </p>

                <ul class="ui list">
                    <li class="item">Un forum, pour échanger avec les adhérents sur les jeux, activités et autres</li>
                    <li class="item">Un calendrier, pour vous inscrire aux activités et consulter les jours d'ouvertures</li>
                    <li class="item">Une galerie, pour visualiser les dernières photographies prises lors d'évènements</li>
                    <li class="item">Des news, pour suivre l'actualité de l'association</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}