{% extends 'template/base_tpl.html.twig' %}

{% block body %}
    <div class="ui grid">
        <div class="row">
            <article class="column">
                <header>
                    <h3 class="ui center aligned header">Mentions légales</h3>
                </header>
                <article class="left aligned">
                    <h3 class="ui header">Editeur du site</h3>
                    <div class="ui list">
                        <div class="item">Florian Hervieu</div>
                        <div class="item">175 Rue de la mare Hébert</div>
                        <div class="item">27210 Beuzeville</div>
                        <div class="item">France</div>
                        <div class="item">Tel : 06 35 24 70 72</div>
                    </div>

                    <h3 class="ui header">Conditions d'utilisation</h3>
                    <p>
                        Le site de la Taverne du Hasard est accessible via l'URL suivant lataverneduhasard.org. Le
                        site respecte la legislation française et l'utilisation de ce dernier est régie par les
                        présentes conditions générales. Vous reconnaissez avoir pris connaissance de ces conditions
                        et de les avoir acceptées lors de toute utilisation du présent site. Ces conditions pourront
                        être modifiées à tout moment et sans préavis par la Taverne du Hasard. L'association la
                        Taverne du Hasard ne saurait être tenue responsable pour toute mauvaise utilisation du
                        service.
                    </p>

                    <h3 class="ui header">Responsable éditorial</h3>
                    <div class="ui list">
                        <div class="item">La Taverne du Hasard</div>
                        <div class="item">136 Rue Pierre Mendès France</div>
                        <div class="item">27210 Beuzeville</div>
                        <div class="item">France</div>
                        <div class="item">Tel : 07 86 60 36 38</div>
                    </div>

                    <h3 class="ui header">Hebergeur</h3>
                    <div class="ui list">
                        <div class="item">Florian Hervieu</div>
                        <div class="item">175 Rue de la mare Hébert</div>
                        <div class="item">27210 Beuzeville</div>
                        <div class="item">France</div>
                        <div class="item">Tel : 06 35 24 70 72</div>
                    </div>
                </article>
            </article>
        </div>
    </div>
{% endblock %}

