{% extends (no_inheritance is defined ? 'template/empty.html.twig' : 'template/base_tpl.html.twig') %}

{% block body %}
    <div class="row">
        <div class="column">
            <h2>{{ message is not defined or message.id is null ? 'forum.message.new.title'|trans : 'forum.message.edit.title'|trans }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="column">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form.content) }}
            <button class="ui primary button">{{ 'message.form.submit'|trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}