{% extends 'template/base_tpl.html.twig' %}

{% block body %}
    <div class="sixteen wide column">
        <div class="js-prototype prototype media js-media">
            <input type="hidden" name="mediaList[]" value="">
            <div class="js-edit-media-form ui edit form">
                <div class="field required">
                    <input type="text" name="mediaData[name][]" placeholder="{{ 'media.name'|trans }}" class="js-media-name">
                </div>
                <div class="field">
                    <textarea name="mediaData[description][]" placeholder="{{ 'media.description'|trans }}" class="js-media-description"></textarea>
                </div>
            </div>
        </div>

        {{ form_start(form) }}

        <h1>{{ 'gallery.create.title'|trans }}<span class="right floated column">{{ form_row(form.status) }}</span></h1>

        {{ form_errors(form) }}

        {{ form_widget(form) }}

        <div class="js-media-list admin-media-list">

        </div>

        <div class="field">
            <label>{{ 'media.add.title'|trans }}</label>

            <div class="uploader container">
                <div class="ui media uploader js-gallery-media-uploader" id="gallery-media-uploader">
                    <div class="dz-message">
                        {{ 'uploader.click_to_add.label'|trans }}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-actions ">
            <div class="ui grid">
                <div class="three wide right floated column">
                    <button type="submit" class="ui button primary fluid">{{ 'gallery.create.button.submit'|trans }}</button>
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    </div>

    <div class="ui media modal js-media-edit">
        <div class="header">{{ 'media.edit.title' }}</div>
        <div class="content">
            <img src="" class="image">
            <div>
                <form class="ui form" name="edit_media">
                    <div class="field required">
                        <label class="required" for="edit_media_name">{{ 'media.name'|trans }}</label>
                        <input id="edit_media_name" name="edit_media[name]" required="required" class="js-media-name" type="text">
                    </div>
                    <div class="field">
                        <label for="edit_media_description">{{ 'media.description'|trans }}</label>
                        <textarea id="edit_media_description" name="edit_media[description]" class="js-media-description"></textarea>
                    </div>

                    <div class="form-actions ">
                        <div class="ui grid">
                            <div class="three wide right floated column">
                                <button type="submit" class="ui button primary fluid">{{ 'action.save'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
