{% extends 'template/base_tpl.html.twig' %}

{% block body %}
    <div class="twelve wide column">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="row">
                <a href="{{ path('app_gallery_create')}}" class="ui primary button">{{ 'gallery.create'|trans }}</a>
            </div>
        {% endif %}
        <div class="row">
            <div class="media-list">
                {% for gallery in galleries %}
                    <a href="{{ path('app_gallery_view', {"gallery": gallery.id, "slug": gallery.name|slug}) }}" class="media">
                        <img src="{{ gallery.media.first.thumbnailPath }}">
                        <div class="js-image-overlay image-overlay">
                            <div class="image-name">{{ gallery.name }}</div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
