{% extends 'template/base_tpl.html.twig' %}

{% block body %}
    <div class="js-media-list media-list">
        {% for media in mediaList %}
            <div class="media js-media" data-path="{{ media.path }}" data-name="{{ media.name }}" data-description="{{ media.description }}">
                <img src="{{ media.thumbnailPath }}">
                <div class="js-image-overlay image-overlay">
                    <div class="image-name">{{ media.name }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block outside %}
    {% include 'template/media-fullscreen.html.twig' %}
{% endblock %}
