{% extends 'template/base_tpl.html.twig' %}

{% block body %}
    <div class="sixteen wide column">

        <h1>{{ 'news_write.title'|trans }}</h1>

        {{ form_start(form) }}

        {{ form_errors(form) }}

        {{ form_widget(form) }}

        <div class="form-actions ">
            <div class="ui grid">
                <div class="three wide right floated column">
                    <button type="submit" class="ui button primary fluid">{{ 'news_write.button.submit'|trans }}</button>
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}