{% extends 'template/base_tpl.html.twig' %}

{% block body %}
    <div class="sixteen wide column">
        <div class="ui grid article-container">
            {% if article.status == constant('AppBundle\\Entity\\Article::STATUS_ARCHIVED') %}
                <div class="row">
                    <div class="ui icon warning message">
                        <i class="archive icon"></i>
                        <div class="content">
                            <div class="header">
                                Billet archivé
                            </div>
                            <p>Ce billet est archivé. Il n'est donc pas visible sur le site.</p>
                        </div>
                    </div>
                </div>
            {% endif %}

            <header class="row">
                <div class="twelve wide column"><h1>{{ article.title }}</h1></div>
                <div class="four wide column right aligned article-date">{{ article.creationDate|strftime("d MMMM YYYY, HH:mm") }}</div>
            </header>

            <article class="row">
                <div class="justified column news-content">
                    {{ article.content|raw }}
                </div>
            </article>

            <footer class="row">
                <div class="column">
                    <div class="ui items">
                        <div class="item">
                            <div class="image">
                                <img src="{{ article.fkUser.avatar }}" alt="{{ article.fkUser.publicName }}">
                            </div>
                            <div class="content">
                                <a class="header" href="">{{ article.fkUser.publicName }}</a>
                                <div class="description">
                                    {{ article.fkUser.presentation|raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        {% set header_title = 'article.comments.title'|trans %}
        {% set event_comment_button = 'article.comment.button'|trans %}
        {% include 'comment/comment_list.html.twig' %}
    </div>
{% endblock %}
