{% extends 'template/base_tpl.html.twig' %}

{% import 'template/macros.html.twig' as self %}

{% block body %}
    <div class="sixteen wide column">
        {% if article_list is defined %}
            {{ self.pagination(_context, path('app_article_index')) }}

            <div class="ui divided items article-list">
                {% for article in article_list %}
                    <div class="item">
                        <div class="image">
                            <img src="{{ asset('media/img/' ~ article.imageCover) }}">
                        </div>

                        <div class="content">
                            <h1 class="header">{{ article.title }}</h1>

                            <div class="description">
                                {{ article.subtitle }}
                            </div>
                        </div>

                        <div class="ui bottom attached labeled icon menu">
                            <a class="item" href="">
                                <i class="big pencil icon"></i>
                                {{ article.fkUser.publicName }}
                            </a>
                            <a class="item" href="{{ path('app_article_read', {"article": article.id}) }}">
                                <i class="big wait icon"></i>
                                {{ article.creationDate|strftime("d MMMM YYYY, HH:mm") }}
                            </a>
                            <a class="item" href="{{ path('app_article_read', {"article": article.id}) }}">
                                <i class="big comment icon"></i>
                                {{ 'article.nb_comments'|transchoice(0) }}
                            </a>
                            <div class="right menu">
                                <a class="item" href="{{ path('app_article_read', {"article": article.id}) }}">
                                    <i class="right chevron icon"></i>
                                    {{ 'news.link.read'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>{{ 'news.list.no_result'|trans }}</p>
                {% endfor %}
            </div>

            {{ self.pagination(_context, path('app_article_index')) }}
        {% endif %}
    </div>
{% endblock %}
