<div class="user-widget ui sticky">
    <div class="ui items article-activity-list">
        <div class="header">{{ 'new_article.announce'|trans }}</div>
        {% for article in articles %}
            <a class="item" href="{{ path('app_article_read', {article: article.id}) }}">
                <span class="name">{{ article.title }}</span>
                <span class="aging">{{ 'app.aging'|trans({'%date%': article.creationDate|aging()}) }}</span>
            </a>
        {% else %}
            <a class="item">No article</a>
        {% endfor %}
    </div>
</div>
