<div class="ui grid">
    <header class="row comments-container">
        <div class="column">
            <h3 class="ui header">{{ header_title }}</h3>

            {% if form is defined %}
                <a class="js-toggle-comment-form ui button">{{ event_comment_button }}</a>

                <div class="hidden">
                    {{ form_start(form, {'attr' : {'class' : 'js-form-comment'} }) }}
                        {{ form_errors(form) }}

                        {{ form_widget(form) }}

                        <div class="form-actions">
                            <button type="submit" class="ui button primary">{{ 'comment.button.submit'|trans }}</button>
                        </div>
                    {{ form_end(form) }}
                </div>
            {% else %}
                <div class="ui icon message">
                    <i class="user icon"></i>
                    <div class="content">
                        <div class="header">
                            {{ 'message.header.login_to_comment'|trans }}
                        </div>
                        <p>{{ 'message.body.login_to_comment'|trans }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </header>
    {% if comment_list is defined and comment_list|length %}
        <section class="ui comments">
            {% for comment in comment_list %}
                <div class="comment">
                    <a class="avatar">
                        <img src="{{ constant("AppBundle\\Entity\\User::AVATAR_BASE_DIR") ~ comment.fkUser.avatar }}" alt="{{ comment.fkUser.publicName }}">
                    </a>
                    <div class="content">
                        <a class="author">{{ comment.fkUser.publicName }}</a>
                        <div class="metadata">
                            <span class="date" title="Le {{ comment.creationDate|date('d M Y à H:i:s') }}">{{ comment.creationDate|aging() }}</span>
                        </div>
                        <div class="text">
                            {{ comment.content|raw }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    {% endif %}
    <footer class="row">
        <div class="column">

        </div>
    </footer>
</div>