<div class="ui grid">
    <div class="row">
        <div class="column comments-container">
            <h3 class="ui header">{{ header_title }}</h3>

            {% if article.status != constant('AppBundle\\Entity\\Article::STATUS_ARCHIVED') %}
                {% include 'comment/comment_new.html.twig' %}
            {% endif %}

            {% if comment_list is defined and comment_list|length %}
                <section class="ui comments">
                    {% for comment in comment_list %}
                        <div class="comment">
                            <a class="avatar">
                                <img src="{{ comment.fkUser.avatar }}" alt="{{ comment.fkUser.publicName }}">
                            </a>
                            <div class="content">
                                <a class="author">{{ comment.fkUser.publicName }}</a>
                                <div class="metadata">
                                    <span class="date" title="Le {{ comment.creationDate|date('d M Y à H:i:s') }}">{{ comment.creationDate|aging() }}</span>
                                </div>
                                <div class="text">
                                    {{ comment.content|raw }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </section>
            {% endif %}
        </div>
    </div>
</div>
