{% if is_granted('ROLE_MEMBER') %}
    <a class="js-toggle-comment-form ui button">{{ event_comment_button }}</a>
    <div class="hidden">

        {% if form is defined %}
            {{ form_start(form, {'attr' : {'class' : 'js-form-comment'} }) }}
            {{ form_errors(form) }}

            {{ form_widget(form) }}

            <div class="form-actions">
                <button type="submit" class="ui button primary">{{ 'comment.button.submit'|trans }}</button>
            </div>
            {{ form_end(form) }}
        {% else %}

        {% endif %}
    </div>
{% else %}
    <div class="ui icon message">
        <i class="user icon"></i>
        <div class="content">
            <div class="header">
                {{ 'message.header.login_to_comment'|trans }}
            </div>
            <p>{{ 'message.body.login_to_comment'|trans }}</p>
        </div>
    </div>
{% endif %}