{% extends 'template/base_tpl.html.twig' %}

{% block body %}
    <div class="ui two column centered grid">
        <div class="column">
            {{ form_start(form, {'attr' : {'class' : 'js-form-signin'} }) }}
            <div class="ui header huge aligned center">{{ 'connexion.title'|trans }}</div>
            {% for type, messages in app.session.flashBag.all %}
                <div class="ui message {{ type }}">
                    <ul class="list">
                        {% for message in messages %}
                            <li>{{ message|trans }}</li>
                        {%- endfor -%}
                    </ul>
                </div>
            {% endfor %}
            {{ form_errors(form) }}

            {{ form_row(form.email) }}
            {{ form_row(form.password) }}
            <a class="block aligned right js-load-lostpassword-form" href="{{ path('user_recover_password_request') }}">{{ 'connexion.link.lost_password'|trans }}</a>

            <div class="form-actions">
                <div class="ui grid equal width">
                    <div class="column">
                        <button type="submit" class="ui button primary fluid">{{ 'connexion.button.signin'|trans }}</button>
                    </div>
                    <div class="column">
                        <a class="ui button secondary fluid js-switch-signin-signup-form" href="{{ path('user_register') }}">{{ 'connexion.link.signup'|trans }}</a>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}