{% extends 'template/base_tpl.html.twig' %}

{% block body %}
    <div class="column">
        <div class="row">
            <h1 class="ui header">{{ 'topic.form.create.title'|trans }}</h1>
        </div>

        {{ form_start(form) }}
            {{ form_row(form.title) }}

            {{ form_row(form.pinned, {'label_attr': {'class': (is_granted('ROLE_MODERATOR') ? '' : 'hidden')}}) }}

            {% for message in form.messages %}
                {{ form_widget(message) }}
            {% endfor %}

            {% if is_granted('ROLE_MODERATOR') %}
                <div class="field">
                    <label>{{ 'access.label'|trans }}</label>
                </div>

                {% include 'forum/forum_permissions.html.twig' with {item: topic} %}
            {% endif %}

            <button class="ui primary button">{{ 'form.action.submit'|trans }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}