{% for topic in topics %}
    {% if is_accredited('moderate', topic) %}
        <div class="moderation options{{ topic.archived ?  ' archived element' : ''}}">
            <a data-id="topic-{{ topic.id }}" class="js-toggle-permissions" title="{{ 'rights.label'|trans }}"><i class="big configure icon">&nbsp;</i></a>
        </div>
    {% endif %}
    <a class="{{ topic.pinned ? 'pinned topic ' : '' }}{{ topic.archived ? 'archived element ' : ''}}item" href="{{ path('app_forum_topic', {id: topic.id, slug: topic.slug}) }}">
        <div class="content">
            <div class="image">
                <i class="huge comments icon"></i>
            </div>

            <div class="header title">
                {% if topic.pinned %}
                    <i class="large pin icon"></i>
                {% endif %}

                {{ topic.title }}
            </div>

            <div class="metadata">
                <div class="item topic activity">
                    <i class="wait icon"></i>
                    <p>
                        {% if topic.lastActivityDate is not null %}
                            {{ topic.lastActivityDate|date('d M Y à H:i') }}
                        {% else %}
                            <i class="minus icon"></i>
                        {% endif %}
                    </p>
                </div>

                <div class="item topic nb-messages">
                    <i class="comments icon"></i>
                    <p>
                        {{ 'topic.nb_messages'|transchoice(topic.messages|length) }}
                    </p>
                </div>

            </div>
        </div>
    </a>
    {% if is_accredited('moderate', topic) %}
        <div id="topic-{{ topic.id }}" class="js-permissions-panel permission panel">
            <div class="ui two item menu">
                {% if topic.archived %}
                    <a class="item action"
                       href="{{ path('app_forum_topic_restore', {'id': topic.id}) }}"
                       title="{{ 'restore.label'|trans }}"
                    >
                        <i class="large undo icon">&nbsp;</i>
                    </a>
                {% else %}
                    <a class="item action"
                       href="{{ path('app_forum_topic_update', {'id': topic.id, 'slug': topic.slug}) }}"
                       title="{{ 'update.label'|trans }}"
                    >
                        <i class="large write icon">&nbsp;</i>
                    </a>
                {% endif %}
                <a class="item action"
                   href="{{ path('app_forum_topic_archive', {'id': topic.id, 'slug': topic.slug}) }}"
                   title="{{ topic.archived ? 'delete.label'|trans : 'archive.label'|trans }}"
                >
                    <i class="large archive icon">&nbsp;</i>
                </a>
            </div>

            {% if not topic.archived %}
                <form class="ui form" name="form_topic_permissions" method="POST" action="{{ path('app_forum_update_permissions') }}">
                    <input type="hidden" name="object_type" value="topic">
                    <input type="hidden" name="object_id" value="{{ topic.id }}">

                    {% include 'forum/forum_permissions.html.twig' with {item: topic} %}

                    <button class="ui primary button">{{ 'action.submit_save'|trans }}</button>
                </form>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}