{% extends 'template/base_tpl.html.twig' %}

{% import 'template/macros.html.twig' as self %}

{% block body %}
    <div class="row">
        <div class="column">
            <h1 class="ui header ">
                {{ topic.title }}
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="column">
            {{ render(url('app_topic_breadcrumb', {'id': topic.id})) }}
        </div>
    </div>

    {{ self.pagination(_context, path('app_forum_topic', {id: topic.id, slug: topic.slug})) }}

    <div class="row">
        <div class="column">
            <div class="ui items message-list">
                {% for message in messages %}
                    <div class="item" id="{{ message.id }}">
                        <div class="ui tiny image">
                            <img src="{{ message.fkUser.avatar }}">
                            <p class="pseudo">
                                <a class="link" href="{{ path('app_utilisateur_userprofile', {'nickname': message.fkUser.nickname}) }}">{{ message.fkUser.publicName }}</a>
                            </p>
                            <p class="group">
                                {{ (message.fkUser.roles(true)|first).name }}
                            </p>
                        </div>

                        <div class="content">
                            <div class="metadata">
                                <span class="left floated">
                                    {{ message.creationDate|strftime("ccc d MMMM YYYY, HH:mm") }}
                                </span>
                                {% if message.creationDate != message.modificationDate %}
                                    <span class="left floated" title="{{ message.modificationDate|strftime("ccc d MMMM YYYY, HH:mm") }}">
                                        &nbsp;({{ 'edited'|trans }})
                                    </span>
                                {% endif %}
                                <span class="right floated">
                                    {% if app.user is not null and (message.fkUser.id == app.user.id or is_accredited('moderate', topic)) %}
                                        <a href="{{ path('app_forum_edit_message', {id: message.id}) }}">{{ 'message.edit.label'|trans }}</a>
                                    {% endif %}
                                    <a href="#{{ message.id }}">#{{ message.id }}</a>
                                </span>
                            </div>

                            {{ message.content|raw }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {{ self.pagination(_context, path('app_forum_topic', {id: topic.id, slug: topic.slug})) }}

    {% if form is not null %}
        {% include 'forum/message/create.html.twig' with {no_inheritance: true} %}
    {% endif %}
{% endblock %}

