<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ 'site.title'|trans }}{% endblock %}</title>
    </head>
    <body>
        <div class="ui container" id="main-wrapper">
            <header class="ui middle aligned centered grid">
                <div class="row">
                    <div class="middle aligned column">
                        <a href="{{ url('homepage') }}"><img class="img-responsive center-block" src="{{ logo_cid }}"/></a>
                        <h2>{{ 'site.title'|trans }}</h2>
                    </div>
                </div>

                <nav class="ui secondary pointing menu header-nav">
                    <a class="item" href="{{ url("homepage") }}"><i class="home icon"></i> {{ 'menu.home'|trans }}</a>
                    <a class="item" href="{{ url("app_article_index") }}"><i class="newspaper icon"></i> {{ 'menu.articles'|trans }}</a>
                    <a class="item" href="{{ url("app_calendar_index") }}"><i class="calendar icon"></i> {{ 'menu.calendar'|trans }}</a>
                </nav>
            </header>

            <section class="main-section">
                <main>
                    {% block body %}{% endblock %}
                </main>
            </section>

            <footer class="ui middle aligned centered grid">
                <div class="row">
                    <div class="middle aligned centered column">
                        <p>
                            {{ 'now'|date('Y') }} - {{ 'site.title'|trans }}
                        </p>
                        <p>
                            <a href="{{ url('mentions') }}">Mentions légales</a>
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>