<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ 'site.title'|trans }}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('static/css/libraries.css') }}">
            <link rel="stylesheet" href="{{ asset('static/lib/semantic/semantic.min.css') }}">
            <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.1/cookieconsent.min.css" />
            <link rel="stylesheet" href="{{ asset('static/css/main.css') }}">
        {% endblock %}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/favicons/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/favicons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/favicons/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('/favicons/manifest.json') }}">
        <link rel="mask-icon" href="{{ asset('/favicons/safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">

        {% block javascript %}
            <script src="{{ asset('static/js/libraries.min.js') }}"></script>
            {#<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.1/cookieconsent.min.js"></script>#}
            <script async defer src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script async defer src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script async defer src="{{ asset('static/js/main.min.js') }}"></script>
            <script async defer>
                var calendar_config_default;

                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                (function() {
                    ga('create', 'UA-53354871-2', 'auto');
                    ga('send', 'pageview');

                    moment.locale('fr');

                    calendar_config_default = {
                        firstDayOfWeek: 0,
                        ampm: false,
                        monthFirst: false,
                        text: {
                            days: [
                                '{{ 'calendar.day.monday.letter'|trans }}',
                                '{{ 'calendar.day.tuesday.letter'|trans }}',
                                '{{ 'calendar.day.wednesday.letter'|trans }}',
                                '{{ 'calendar.day.thursday.letter'|trans }}',
                                '{{ 'calendar.day.friday.letter'|trans }}',
                                '{{ 'calendar.day.saturday.letter'|trans }}',
                                '{{ 'calendar.day.sunday.letter'|trans }}'
                            ],
                            months: [
                                '{{ 'calendar.month.january.complete'|trans }}',
                                '{{ 'calendar.month.february.complete'|trans }}',
                                '{{ 'calendar.month.march.complete'|trans }}',
                                '{{ 'calendar.month.april.complete'|trans }}',
                                '{{ 'calendar.month.may.complete'|trans }}',
                                '{{ 'calendar.month.june.complete'|trans }}',
                                '{{ 'calendar.month.july.complete'|trans }}',
                                '{{ 'calendar.month.august.complete'|trans }}',
                                '{{ 'calendar.month.september.complete'|trans }}',
                                '{{ 'calendar.month.october.complete'|trans }}',
                                '{{ 'calendar.month.november.complete'|trans }}',
                                '{{ 'calendar.month.december.complete'|trans }}'
                            ],
                            monthsShort: [
                                '{{ 'calendar.month.january.short'|trans }}',
                                '{{ 'calendar.month.february.short'|trans }}',
                                '{{ 'calendar.month.march.short'|trans }}',
                                '{{ 'calendar.month.april.short'|trans }}',
                                '{{ 'calendar.month.may.short'|trans }}',
                                '{{ 'calendar.month.june.short'|trans }}',
                                '{{ 'calendar.month.july.short'|trans }}',
                                '{{ 'calendar.month.august.short'|trans }}',
                                '{{ 'calendar.month.september.short'|trans }}',
                                '{{ 'calendar.month.october.short'|trans }}',
                                '{{ 'calendar.month.november.short'|trans }}',
                                '{{ 'calendar.month.december.short'|trans }}'
                            ],
                            today: '{{ 'calendar.date.today'|trans }}',
                            now: '{{ 'calendar.date.now'|trans }}'
                        },

                        formatter: {
                            datetime: function (date, settings) {
                                if( date !== undefined ) {
                                    var momentDate = moment(date);
                                    return momentDate.format('DD/MM/YYYY HH:mm');
                                }
                            }
                        }
                    };
                })();
            </script>
        {% endblock %}
    </head>
    <body>
        {% for type, type_flash_message in app.session.flashBag.all %}
            {% for flash_message in type_flash_message %}
                <div class="ui {{ type }} message flash-message">
                    <i class="close icon"></i>
                    <p>{{ flash_message }}</p>
                </div>
            {% endfor %}
        {% endfor %}
        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
            <div class="ui info message flash-message">
                <i class="close icon"></i>
                <p>Vous incarnez actuellement le compte de {{ app.user.publicName }}. <a href="{{ path('homepage', {'_switch_user': '_exit'}) }}">Se libérer ?</a></p>
            </div>
        {% endif %}
        <div class="ui fluid container" id="main-wrapper">
            <header class="ui middle aligned centered grid">
                <noscript>

                </noscript>

                <div class="row">
                    <div class="middle aligned column">
                        <a href="{{ path('homepage') }}" class="is-mobile-hidden"><img class="img-responsive center-block" src="{{ asset('static/media/img/logo.png') }}"/></a>
                        <h2>{{ 'site.title'|trans }}</h2>
                    </div>
                </div>

                <nav class="ui secondary pointing menu header-nav">
                    <a class="menu displayer item js-display-menu"><i class="sidebar icon"></i></a>
                    <div class="left menu is-mobile-hidden js-main-menu">
                        <a class="item" href="{{ path("homepage") }}"><i class="home icon"></i> {{ 'menu.home'|trans }}</a>
                        <a class="item" href="{{ path("app_article_index") }}"><i class="newspaper icon"></i> {{ 'menu.articles'|trans }}</a>
                        <a class="item" href="{{ path("app_calendar_index") }}"><i class="calendar icon"></i> {{ 'menu.calendar'|trans }}</a>
                        <a class="item" href="{{ path("app_forum_index") }}"><i class="comments icon"></i> {{ 'menu.forum'|trans }}</a>
                        <a class="item" href="{{ path("app_gallery_list") }}"><i class="images icon"></i> {{ 'menu.gallery'|trans }}</a>
                        <a class="item display-mobile" href="{{ path("app_admin_index") }}"><i class="dashboard icon"></i>{{ 'sidebar.admin.dashboard'|trans }}</a>
                    </div>
                    <div class="right menu is-mobile-hidden js-main-menu">
                        {% if app.user %}
                            <a class="item" href="{{ path("security_logout", {'_format': 'html'}) }}"><i class="power off icon"></i> {{ 'menu.logout'|trans }}</a>
                        {% else %}
                            <a class="item" href="{{ path("security_login") }}"><i class="power off icon"></i> {{ 'menu.login_register'|trans }}</a>
                        {% endif %}
                    </div>
                </nav>
            </header>

            <section class="ui stackable grid main-section">
                <div class="{{ nosidebar is defined ? 'sixteen' : 'twelve' }} wide column">
                    <div class="ui stackable grid js-main-section"
                        {% if app.request.attributes.get('_route') is not empty %}
                            data-href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"
                        {% endif %}
                    >
                        {% block body %}{% endblock %}
                    </div>
                </div>
                {% if nosidebar is not defined  %}
                    <div class="four wide column side-section">
                        {% include 'template/sidebar.html.twig' %}
                    </div>
                {% endif %}
            </section>

            <footer class="ui middle aligned centered grid">
                <div class="row">
                    <div class="middle aligned centered column">
                        <p>
                            {{ 'now'|date('Y') }} - {{ 'site.title'|trans }}
                        </p>
                        <p>
                            <a href="{{ path('mentions') }}">Mentions légales</a>
                        </p>
                    </div>
                </div>
            </footer>
        </div>

        {% block prototypes %}
            <div class="hidden">
                <div id="js-newPanel-prototype">
                    <div class="ui inverted dimmer">
                        <div class="ui loader"></div>
                    </div>
                    <div class="header">
                        <a class="ui icon button js-panel-back"><i class="left chevron icon"></i></a>
                    </div>
                </div>

                <div id="dropzone-template" class="dz-preview dz-file-preview">
                    <div class="dz-preview dz-file-preview">
                        <div class="dz-details">
                            <div class="dz-filename"><span data-dz-name></span></div>
                            <div class="dz-size" data-dz-size></div>
                            <img data-dz-thumbnail />
                        </div>
                        <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                        <div class="dz-success-mark"><span></span></div>
                        <div class="dz-error-mark"><span></span></div>
                        <div class="dz-error-message"><span data-dz-errormessage></span></div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block outside %}{% endblock %}
    </body>
</html>
