{% macro pagination(context, base_url) %}

    {% if context.nb_pages > 1 %}
        {% set first_iteration = (context.nb_pages > 5 and context.current_page - 2 > 1 ? context.current_page - 2 : 1 ) %}
        {% set last_iteration = (context.nb_pages > 5 and context.current_page + 2 < context.nb_pages ? context.current_page + 2 : context.nb_pages ) %}
        <div class="tight row">
            <div class="right aligned column">
                <div class="ui pagination menu">
                    <a class="{{ 1 == context.current_page ? 'hidden ' : ''}}item"
                       href="{{ base_url ~ '?page=1' }}"
                    >{{ 'pagination.first'|trans }}</a>
                    <a class="{{ context.current_page-1 == 0 ? 'hidden ' : ''}}item"
                       href="{{ base_url ~ '?page=' ~ (context.current_page - 1) }}"
                    >{{ 'pagination.previous'|trans }}</a>
                    {% if first_iteration > 1 %}
                        <a class="disabled item">...</a>
                    {% endif %}
                    {% for page in first_iteration..last_iteration %}
                        <a class="{{ page == context.current_page ? 'active ' : ''}}item"
                           href="{{ base_url ~ '?page=' ~ page }}"
                        >{{ page }}</a>
                    {% endfor %}
                    {% if last_iteration < context.nb_pages %}
                        <a class="disabled item">...</a>
                    {% endif %}
                    <a class="{{ context.nb_pages == context.current_page ? 'hidden ' : ''}}item"
                       href="{{ base_url ~ '?page=' ~ (context.current_page + 1) }}"
                    >{{ 'pagination.next'|trans }}</a>
                    <a class="{{ context.current_page+1 == context.nb_pages+1 ? 'hidden ' : ''}}item"
                       href="{{ base_url ~ '?page=' ~ context.nb_pages }}"
                    >{{ 'pagination.last'|trans }}</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}
