<div class="js-fullscreen-image hidden fullscreen image">
    <div class="background"></div>
    <div class="close js-close"><i class="close icon"></i></div>
    <div class="next js-next"><i class="angle right icon"></i></div>
    <div class="previous js-previous"><i class="angle left icon"></i></div>
    <div class="js-legend legend">
        <p class="js-media-name name"></p>
        <p class="js-media-description description"></p>
    </div>
    <div class="js-image image">
        <img src="">
    </div>
</div>
