{% if is_granted('ROLE_ADMIN') %}
    <nav class="ui vertical menu admin-vertical-nav ui sticky">
        <div class="header"><i class="home icon"></i> {{ 'sidebar.admin.home'|trans }}</div>
        <div class="menu">
            <a class="item" href="{{ path('app_admin_index') }}">{{ 'sidebar.admin.dashboard'|trans }}</a>
        </div>

        <div class="header"><i class="newspaper icon"></i> {{ 'sidebar.admin.articles'|trans }}</div>
        <div class="menu">
            <a class="item" href="{{ path('app_admin_listnews') }}">{{ 'sidebar.admin.list_articles'|trans }}</a>
            <a class="item" href="{{ path('app_article_create') }}">{{ 'sidebar.admin.write_article'|trans }}</a>
        </div>

        <div class="header"><i class="calendar icon"></i> {{ 'sidebar.admin.calendar'|trans }}</div>
        <div class="menu">
            <a class="item" href="{{ path('app_admin_listevents') }}">{{ 'sidebar.admin.list_events'|trans }}</a>
            <a class="item" href="{{ path('app_admin_openevent') }}">{{ 'sidebar.admin.open_event'|trans }}</a>
            <a class="item" href="{{ path('app_calendar_create') }}">{{ 'sidebar.admin.create_event'|trans }}</a>
        </div>

        <div class="header"><i class="user icon"></i> {{ 'sidebar.admin.user'|trans }}</div>
        <div class="menu">
            <a class="item" href="{{ path('app_admin_listusers') }}">{{ 'sidebar.admin.list_users'|trans }}</a>
        </div>
    </nav>
{% endif %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <nav class="user-vertical-nav ui sticky">
        <div class="ui items">
            <div class="item">
                <div class="image middle aligned">
                    <a href="{{ path('app_utilisateur_userprofile', {nickname: app.user.nickname}) }}"><img class="image avatar" src="{{ app.user.avatar }}" alt="{{ app.user.publicName }}"></a>
                </div>
                <div class="content">
                    <div class="header">
                        <a class="item" href="{{ path('app_utilisateur_userprofile', {nickname: app.user.nickname}) }}">{{ app.user.publicName }}</a>
                    </div>
                    <div class="ui list">
                        <div class="item">
                            <a class="ui label" href="{{ path('app_utilisateur_userconversations', {nickname: app.user.nickname}) }}">
                                <i class="mail icon"></i> 0 {{ 'user.profile.nb_messages'|transchoice(0) }}
                            </a>
                        </div>
                        {#<div class="item">#}
                            {#<a class="ui label">#}
                                {#<i class="calendar icon"></i> {{ 'user.event.present'|trans }}#}
                            {#</a>#}
                        {#</div>#}
                    </div>
                </div>
            </div>
        </div>
    </nav>
{% endif %}

{{ render(controller('AppBundle:Forum:widget')) }}
{{ render(controller('AppBundle:Article:widget')) }}
