<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:news="http://www.google.com/schemas/sitemap-news/0.9">
    {% for element in sitemap %}
        <url>
            <loc>{{ element.loc }}</loc>
            {% if element.lastmod is defined %}
                <lastmod>{{ element.lastmod }}</lastmod>
            {% endif %}
        </url>
    {% endfor %}
</urlset>