.hidden {
  display: none !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.help {
  margin: 5px 0;
  color: #bbb;
}

a.right.aligned {
  text-align: right;
}

a.left.aligned {
  text-align: left;
}

.right.floated {
  float: right;
}

.left.floated {
  float: left;
}

.block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}

.inline {
  display: inline;
}