/* Global Mixins */
@mixin clear() {
  &:after {
    content:"";
    display: block;
    clear: both;
  }
}

@mixin font-size($sizeValue: 14) {
  font-size: ($sizeValue / 14) + rem;
}

@mixin font-smooth() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Specifix Mixins */
@mixin tag-common-styles {
  border: 1px solid;
  font-family: $primary-font;
  font-weight: 500;
  text-align: left;
  @include font-smooth;
}