@media screen and (max-device-width: 1366px) {
  .conversation.vertical.menu {

  }
}

@media screen and (max-device-width: 720px)  {
  html, body {
    font-size: 1rem;
  }

  .display-mobile {
    display: none !important;
  }

  .menu.displayer.item {
    display: flex;
  }

  body #main-wrapper .is-mobile-hidden {
    display: none;
  }
}