//Global
html, body {
  font-family: $primary-font;
}

body {
  color: $primary-color;
}

a, a:link,
.ui.items a.item:hover .content .header,
.ui.link.items > .item:hover .content .header,
.ui.breadcrumb a {
  color: $primary-color;

  &:hover, &:focus, &:active {
    color: $secondary-color;
  }
}


//Titles
h1, h2, h3, h4, h5 {
  font-family: $primary-font;
}

h2.ui.header {
  color: $primary-color;
  @include font-size(40);
  font-weight: 300;
}

h3.ui.header {
  @include font-size(24);
  font-weight: 400;
}

.ui.header.center.aligned + p {
  text-align: center;
}

// Buttons
.ui.button {
  background: $lightgrey;
  border-radius: 0;
  color: rgba(0, 0, 0, 0.6);
  font-family: $primary-font;
  font-weight: 500;

  &:hover {
    background: $grey;
    color: rgba(0, 0, 0, 0.8);
  }
}

.ui.button.hidden {
  display: none;
}

.ui.primary.buttons .button,
.ui.primary.button {
  background-color: $primary-color;
  border-bottom: 2px solid $primary-color;

  &:hover, &:focus {
    background-color: $secondary-color;
  }
}
.ui.secondary.buttons .button,
.ui.secondary.button {
  border: 1px solid $primary-color;
  background-color: $transparent;
  color: $primary-color;
}

.ui.basic.buttons .button,
.ui.basic.button {
  border: 1px solid $primary-color;
  border-radius: 0;
  color: $primary-color !important;

  &:hover {
    background: $primary-color !important;
    color: $white !important;
  }
}

.ui.small.buttons .button,
.ui.small.buttons .or,
.ui.small.button {
  padding: 0.6em 1em 0.6em;
}

.ui.tiny.buttons .button,
.ui.tiny.buttons .or,
.ui.tiny.button {
  @include font-size(13);
  padding: 0.4em 1.1em 0.4em;
}

.ui.buttons .button.addon {
  min-width: 20px;
  padding: 0;
  background: $grey;

  & .icon {
    margin: 0 0 0 -0.21428571em !important;
    color: $lightgrey;
  }

  &:hover {
    background: $primary-color;
  }
}

// Forms Symfony
.ui.form .required.fields:not(.grouped) > .field > label::after,
.ui.form .required.fields.grouped > label::after,
.ui.form .required.field > label::after,
.ui.form .required.fields:not(.grouped) > label::after,
.ui.form .required.field > .checkbox::after {
  margin: -0.2em 0em 0em 0.2em;
  content: '*';
  color: #DB2828;
}

.ui.form .required.fields:not(.grouped) > .field > .checkbox::after {
  content: '';
}

.ui.form input:not([type]),
.ui.form input[type="date"],
.ui.form input[type="datetime-local"],
.ui.form input[type="email"],
.ui.form input[type="number"],
.ui.form input[type="password"],
.ui.form input[type="search"],
.ui.form input[type="tel"],
.ui.form input[type="time"],
.ui.form input[type="text"],
.ui.form input[type="url"] {
  border: 1px solid #b3b3b3;
  font-family: $primary-font;
  @include font-size(16);
  font-style: italic;
}

.ui.form input:not([type]):focus,
.ui.form input[type="date"]:focus,
.ui.form input[type="datetime-local"]:focus,
.ui.form input[type="email"]:focus,
.ui.form input[type="number"]:focus,
.ui.form input[type="password"]:focus,
.ui.form input[type="search"]:focus,
.ui.form input[type="tel"]:focus,
.ui.form input[type="time"]:focus,
.ui.form input[type="text"]:focus,
.ui.form input[type="url"]:focus,
.ui.form textarea:focus {
  border: 1px solid $secondary-color;
}

.ui.form *::placeholder {
  color: #b3B3B3;
}

.ui.form .field input:read-only {
  opacity: 0.45;
}

.ui.form .inline.choices.fields {
  display: block !important;
}

.ui.form .inline.choices.fields .field {
  display: inline-block;
}

.ui.form .inline.choices.fields > label {
  display: block;
}

.ui.form .ui.button {
  margin-top: 2em;
}


//Toastr
#toast-container > div {
  opacity: 1;
  box-shadow: 0 0 5px #999;

  &:hover {
    box-shadow: 0 0 5px #999;
  }
}

// Messages
.ui.message {
  border-radius: 0;
  color: #222 !important;
  box-shadow: none !important;
  border: none !important;

  &.success {
    background-color: #66aa33;
  }

  &.notice {
    background-color: #4488ab;
  }

  &.warning {
    background-color: #efaa33;
  }

  &.error {
    background-color: #ef6644;
  }

  .close.icon {
    line-height: 48px;
    height: 100%;
    top: 0;
    font-size: 1.3rem;
  }
}

// Labels
.ui.label {
  color: $white;
  background: $secondary-color;
}

a.ui.label:hover {
  color: $couleurLight;
  background: $secondary-color;
}

// Dropzones
.uploader.wrapper {
  z-index: 10;
}

.ui.avatar.uploader {
  width: 200px;
  height: 200px;
  position: relative;
  cursor: pointer;
  transition: background 300ms;

  &:before {
    content: '\f093';
    font-family: 'FontAwesome';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2rem;
    margin-left: -2rem;
    font-size: 4rem;
    line-height: 4rem;
    color: $white;
    text-shadow: 0 0 2px #333;
    opacity: 0;
    transition: opacity 300ms;
  }

  &:hover {
    transition: background 600ms;
    background: rgba(255, 255, 255, .4);

    &:before {
      transition: opacity 600ms;
      opacity: 1;
    }
  }

  img {
    position: absolute;
    z-index: -1;
    max-width: 100%;
    max-height: 100%;
  }
}

.ui.tabular.menu .item {
  border-radius: 0;
  background: $tertiary-color;
  color: $white;
  cursor: pointer;

  &:first-child {
    border-radius: 0 !important;
  }

  &:hover {
    border-radius: 0;
    background: $secondary-color;
    color: $white;
  }

  &.active {
    border-radius: 0 !important;
    background: $white;
    color: #111;
  }
}

// Popup
.ui.popup {
  padding: 5px;
  border-radius: 0;
  background: $secondary-color;
  color: $white;

  &:before {
    background: $secondary-color !important;
  }
}

// Breadcrumb
.ui.breadcrumb {
  width: 100%;
  line-height: 32px;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.ui.grid .tight.row {
  padding-top: 0;
}

.ui.pagination.menu {
  border-radius: 0;
}

.display-mobile {
  display: none !important;
}

.survey.results {
  display: inline-block;
  text-align: left;
}

.ui.survey.progress,
.ui.survey.progress.success {
  background: rgba(0, 0, 0, 0.05);

  .bar {
    background-color: $primary-color !important;
    min-width: 0;
    position: absolute;
    overflow: hidden;

    &:after {
      content: none;
    }

    .question {
      color: #EEE;
      z-index: 2;
    }
  }

  .question {
    top: 0;
    left: 0;
    right: 0;
    padding-left: 1.63em;
    line-height: 1.75em;
    color: $primary-color;

    i {
      margin-left: -1.43em;
    }
  }
}

.ui.transparent.message {
  background: transparent;
}

.ui.toggle.checkbox .box::before,
.ui.toggle.checkbox label::before {
  border-radius: 0;
  width: 6rem;
  height: 2.5rem;
}


.ui.toggle.checkbox input ~ .box::after,
.ui.toggle.checkbox input ~ label::after {
  border-radius: 0;
  width: 2.5rem;
  height: 2.5rem;
}

.ui.toggle.checkbox input:checked ~ .box::after,
.ui.toggle.checkbox input:checked ~ label::after {
  left: 3.5rem;
}

.ui.toggle.checkbox .box,
.ui.toggle.checkbox label {
  padding-top: 0;
  padding-left: 7rem;
  line-height: 2.5rem;
}

.center.aligned {
  text-align: center;
}
