//Colors
$primary-color: #3D1D1D;
$secondary-color: lighten($primary_color, 15%);
$tertiary-color: lighten($primary_color, 25%);
$couleurLight: lighten($primary_color, 40%);
$backgroundLight: lighten($primary_color, 75%);

$lightgrey: #e5eef2;
$grey: #acc8d0;

$white: #ffffff;
$transparent: transparent;

//Fonts
$primary-font: Rubik, sans-serif;